[2014-12-03 15:51] kaneplusplus opened #1 "Get rid of startup message"

[2015-02-17 20:04] cdeterman opened #2 "What are the current limitations for windows?"
I am well aware that bigmemory is not currently installable for Windows.  I was wondering what are the current reasons that it is limited?  What about Windows is preventing the package from being platform independent?

[2015-02-17 20:16] kaneplusplus commented on #2
The BH package, which bigmemory relies upon generates a warning in valgrind during a CHECK on CRAN. The warning comes from a line in the boost library and is not a problem (a valgrind warning does not imply a problem it simply shows where there may be problems). I have explained this to them and they have been unwilling accept the package.

On Windows I recommend installing [Rtools](http://cran.r-

[2015-02-17 21:57] kaneplusplus commented on #2
Also, I just took a look at your repos. If there's anything you'd like to contribute please feel free to send a pull request. Also, if you're interested we're happy to give authorship to consistent contributors (like Peter Haverty). Thanks!

[2015-02-18 13:04] cdeterman commented on #2
Thank you, I work with big data quite a bit and helping increase functionality in R is something I want to be a part of.  If you look at my repos, the major changes I have made is to make them Rcpp and Roxygen2 compatible to make it simpler to update and add functions.  I was holding off on making and pull requests until I had something more significant to contribute.

I will look in to the instal

[2015-02-18 15:27] kaneplusplus commented on #2
Rcpp and Roxygen2 are the two biggest features on my wish list for bigmemory. It would be great to see them incorporated.

There's no hurry with the request since I won't have a lot of time on my hands for the next few weeks. But please don't hesitate to contact me if you run into any questions or need me to help with the effort.

[2015-03-06 14:20] #2 closed

[2015-04-13 20:15] cdeterman opened #4 "float type matrices?"
Given the focus of this package is to use the minimal amount of memory as efficiently as possible I believe it should include `big.matrix` objects of type `float`.  There may be situations in which single precision is sufficient and therefore would need only ~half the space as a `double` matrix.  I know R does not have any single precision data type but seeing how all the 'heavy lifting' is done i

[2015-04-14 14:57] cdeterman commented on #4
As I am experimenting with this (I think i can avoid requiring the additional field mentioned above) do you have any previous code to check the `sizeof` the **actual** matrix?  I have initially tried a few simple queries I thought would work but to neither returns the correct size.  I want to try and get this to work correctly with `double` type matrices.

With a matrix of 1000x1000

Directly on t

[2015-04-15 16:25] kaneplusplus commented on #4
Supporting floats would be nice and I support any movement toward C++11. It feels like there is still a lot of code we could eliminate by adding modern C++ features.

I think biganalytics uses stable versions of calculations for things like variance so it seems like almost all of the work would be managing the element types.

Would the linear algebra operations then be handled by armadillo?

WRT s

[2015-04-15 16:31] cdeterman commented on #4
There are float types within armadillo (e.g. `fmat`, `fvec`) so it would work very easily.  It would be nice to have the size tracked.  Do you have a method in mind to accomplish that?  Otherwise do you know how to check the size manually from these objects?  I want to confirm that the float type is properly being applied.

[2015-04-15 18:04] kaneplusplus commented on #4
It'll need to be added to the ```Create*``` functions in BigMatrix.cpp. The calls to ```truncate``` and ```ftruncate``` calculate the size. One thing to note is that the size may not be the same as the amount of physical space being being used. On Linux and Windows "sparse files" are created by default (the Mac file system doesn't have this capability).

I can probably get to this on the weekend u

[2015-04-15 18:32] cdeterman commented on #4
It would likely be better if you to modify the `Create*` functions.  I am less familiar with the `boost` methods for shared memory objects.  I think I have some working code to implement the `float` type matrices but don't have a validation method.  That note regarding the size not the same as physical space is a good point.  In the simplest scenario I want to at least confirm that the size is sma

[2015-04-15 18:39] kaneplusplus commented on #4
That's fine. I'll send you a note when it's done. It seems like a nice feature and it provides the sanity check you're looking for to validate ```float``` types.

[2015-04-15 18:39] kaneplusplus opened #5 "Add the size of the allocation in the Create* functions in BigMatrix.cpp"

[2015-04-19 16:57] #5 closed

[2015-04-19 16:58] kaneplusplus commented on #5
A new member of BigMatrix has been added, called ```_allocationSize``` which keeps track of the total number of bytes allocated to a BigMatrix object. This value of this member can be found using the ```allocation_size``` method.

[2015-04-19 17:00] kaneplusplus commented on #4
A new member of BigMatrix has been added, called ```_allocationSize``` and it keeps track of the total number of bytes allocated to a BigMatrix object. This value of this member can be found using the ```allocation_size``` method.

[2015-04-20 13:39] cdeterman commented on #5
Thank you for adding this method however something appears to be broken.  I installed from you git repo with `devtools::install_github("kaneplusplus/bigmemory")` and now creating a basic big.matrix object with `big.matrix(3,3, init=1)` results in the following error:

    Error in big.matrix(3,3, init=1) :
      Error: memory could not be allocated for instance of type big.matrix

After some quick

[2015-04-20 16:11] kaneplusplus commented on #5
Shoot, I'll check it now. I may have forgotten to delete an object file.

[2015-04-20 16:29] kaneplusplus commented on #4
OK, I need to be passing a pointer-pointer to the Create* functions. I'll fix it now.

[2015-04-20 16:34] kaneplusplus commented on #4
Yeah, that was it. Sorry and thanks for pointing it out. The fixed version is checked in.

[2015-04-20 17:13] cdeterman commented on #5
Thanks, the fix works on a Linux (Ubuntu) system but for some reason still fails on Windows.  I normally work on Linux so it doesn't bother me much but not sure why it is crashing there.

[2015-04-20 17:38] kaneplusplus commented on #5
I'm not sure why it's not working on windows. I'll try to take a look this week.

[2015-04-20 20:08] #4 closed

[2015-04-29 19:51] kaneplusplus opened #8 "Get rid of dependence on boost uuid"

[2015-04-29 19:51] #8 closed

[2015-04-29 19:51] kaneplusplus opened #9 "bigmemory is not installing on the Mac."

[2015-04-29 19:55] cdeterman commented on #9
Although not a solution (I don't have access to a Mac) we may want to look in to using a continuous integration service like Travis CI (you can see examples with Hadley's packages like testthat or ggplot2).  That way if any new additions or changes happen we will know if it breaks.  Food for thought.

[2015-04-29 20:00] phaverty commented on #9
CI is a wonderful thing. I don't imagine that CRAN or GitHub provide a free
service, do they?  We use Jenkins here. I can probably add the bigmemory
stuff to our setup to make sure we are OK on Linux at least.  I have a Mac
and can periodically update, check and install.  I'm sure there is a better
way to get Windows and Mac checks, though.

Pete

____________________
Peter M. Haverty, Ph.D.
Genen

[2015-04-29 20:11] cdeterman commented on #9
If your project is open source you can use Travis CI (Linux definitely, Mac I think so too) with you github repo for free.  You can also use [appveyor](http://www.appveyor.com/) for testing Windows (also free for open source).  Both of these services are used with multiple R packages such as those I mentioned above by Hadley.

[2015-04-30 12:52] kaneplusplus commented on #9
OK, I've got the fix for the compile error. I'm going to fix the warnings now. However, the point is well taken. I'll see what needs to be done for automated builds after it's done.

[2015-04-30 13:44] kaneplusplus opened #10 "Add Travis-CI support"

[2015-04-30 13:44] kaneplusplus opened #11 "Add Appveyor CI"

[2015-04-30 13:44] kaneplusplus opened #12 "Add Coveralls Testing"

[2015-04-30 13:51] kaneplusplus commented on #10
Added and building successfully.

[2015-04-30 13:51] #10 closed

[2015-04-30 14:04] kaneplusplus commented on #11
Added but we are have warnings. I'm changing the behavior so that we try to finish building the package.

[2015-04-30 14:05] kaneplusplus commented on #9
OK, we now have Travis-CI integration. I've added appveyor and coveralls. I'll check on them later but I've added issues for them.

[2015-04-30 14:05] #9 closed

[2015-04-30 15:18] cdeterman commented on #10
Is the multiple OS option working?  I thought it was currently in development and not yet available.  Did you find someplace that said otherwise?  I am just a little skeptical to make sure it isn't just building on the first os listed (i.e. linux).

[2015-04-30 15:25] kaneplusplus commented on #10
It looks like it's still only installing on Linux. I resorted to building on my Mac (and suppressing deprecated-declarations from BH).

The Appveyor builds don't look right. They should be creating artifacts from the 00install.log and 00config.log but they are not. I'm trying the winbuilder now.

[2015-04-30 15:29] cdeterman commented on #10
It does look like the if we contact them at support@travis-ci.com and say which repo to enable then the option should be available.  This was noted on the [Travis-CI Blog](http://docs.travis-ci.com/user/multi-os/).

[2015-04-30 15:32] kaneplusplus opened #13 "Migrate util.h and util.cpp to Rcpp"
We are currently resorting to undefing length in util.h on the Mac (and Widows?) because we are mixing R libraries with Rcpp. It would be nice if this file was migrated to using Rcpp only.

[2015-04-30 15:35] kaneplusplus commented on #10
OK, I'll take a look.

[2015-04-30 18:20] #13 closed

[2015-04-30 20:05] cdeterman opened #15 "Windows won't create consecutive filebacked.big.matrix objects"
For some strange reason, Windows builds but errors out when you try to build a `filebacked.big.matrix` object a second time.  This results in problems when trying to run the testing framework.  The following reproduces the problem:

[code]
So this is clearly having issues with the `create` function on line 2558 of bigmemory.cpp.  I have no idea at the moment why this is happening as it is not repr

[2015-04-30 20:11] kaneplusplus commented on #15
Wow. That's strange. We could try to remove the shared resources before allocating on Windows.

[2015-04-30 20:15] kaneplusplus commented on #15
Or we could check and kick back an error but then we'd have different functionality on different platforms.

[2015-04-30 20:27] cdeterman commented on #15
Not sure, I tried to remove the backing and descriptor files but nothing there.  How could we check and remove the shared resources?

I can't see any harm in implementing such a 'manual' removal of the shared resources when you are intending to overwrite them anyway.  I think that can be used on all platforms so functionality is consistent.

[2015-05-01 13:45] kaneplusplus opened #16 "Get bigmemory to build for Travis-CI"
We need to fix some documentation: https://travis-ci.org/kaneplusplus/bigmemory

[2015-05-05 15:19] cdeterman commented on #16
The primary problem appears to be in the big.matrix.Rd file with the example

`x <- big.matrix(10, 2, type='integer', init = -5)`

Strangely this returns the error

where somehow `CreateSharedMatrix` is returning a null `address`.  This is very odd as it works without a problem when run in the R console even when multiple `big.matrix` objects are created consecutively.  The only way I have been ab

[2015-05-05 16:00] kaneplusplus commented on #16
I have a hunch it's the check environment. A quick and dirty fix would be to put the examples in \dontrun. But we should see if we can figure this one out.

[2015-05-15 16:48] cdeterman commented on #16
Another, although somewhat unsatisfactory, solution is to prepend each `big.matrix` definition in the examples with `gc()` beforehand.  I have verified that this does remove the error but it is still a little unnerving that this memory error is popping up at all.  Not quite sure how the memory is handled within the check environment that it doesn't error outside of it.

[2015-05-20 16:30] cdeterman commented on #16
Did you have any other thoughts regarding the check environment?  I petitioned the R community about the matter and the only thing that seems to work is adding the `gc()`.  I couldn't find any issues with the system environment.  If this solution is satisfactory to you I will create a push my local changes and set up a pull request so the package will at least build successfully on Travis and we c

[2015-05-20 16:51] phaverty commented on #16
I don't have any good ideas. Michael Lawrence (new R core member) is down
the hall.  I'll see if he has any thoughts.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Wed, May 20, 2015 at 9:30 AM, Charles Determan <notifications@github.com>
wrote:

[2015-05-20 18:05] kaneplusplus commented on #16
Thanks Pete. I don't mind switching to \dontrun in the short term. However, we'll  have to test to see if the check environment problem is inherited by packages importing bigmemory.

[2015-05-21 16:41] phaverty commented on #16
Michael Lawrence suggested using valgrind to look for memory allocation
trouble.  I still don't get what is special about the environment when
stuff is run under CHECK.  bigmemoryExtras makes filebacked bigmatrices in
examples (indirectly) and passes fine (with bigmemory 4.4.6). I'll
experiment some.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Wed, May

[2015-05-21 16:58] phaverty commented on #16
I added
x <- big.matrix(10, 2, type='integer', init = -5)
to an example in bigmemoryExtras. It checked fine with bigmemory 4.4.6.
I'll repeat with the current GitHub version. It would probably be useful to
dissect this down to .Call and then the bit of RCpp / C++ that does the
allocation.  If it is a RCpp thing, likely someone else has hit the same
issue and StackOverflow will have the answer.

Pe

[2015-05-21 17:09] phaverty commented on #16
bigmemoryExtras checks fine with
x <- big.matrix(10, 2, type='integer', init = -5)
as an example, for what that's worth.

bigmemory 4.5.1 gives me the same error, so the trouble is isolated to just
examples in bigmemory itself.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, May 21, 2015 at 9:53 AM, Peter Haverty <phaverty@gene.com> wrote:

[2015-05-26 18:45] cdeterman commented on #16
@phaverty from my experiments I believe this error only comes up if a `big.matrix` object is created in multiple example files.  For example, in the bigmemory examples if I have `gc()` present at the start of each example file, there is no problem.  However, if I remove the `gc()` from the top of the `write.big.matrix_examples.R` file I receive the same error but with the

```x <- as.big.matrix(ma

[2015-05-28 18:58] phaverty commented on #16
Confirmed. bigmemory passes check with two separate examples creating big.matrices using bigmemory 4.5.1.

[2015-05-28 19:02] cdeterman commented on #16
Thanks Pete, hmm... this is really strange.  Will need to dig some more in to why it is having issues only within bigmemory.  At least this confirms that it is contained.

[2015-05-28 20:00] kaneplusplus commented on #16
Hi all. Sorry about the radio silence. I broke my hip last Friday and got out of surgery on Monday. I'll try to get back to this in the next day or so.

[2015-05-28 20:04] phaverty commented on #16
Whoa, that's quite an injury!  I'm glad you are past the surgery and I hope
you heal up fast.  Take your time with the code, of course.

Best wishes,

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, May 28, 2015 at 1:00 PM, Michael Kane <notifications@github.com>
wrote:

[2015-05-28 20:13] cdeterman commented on #16
Sorry to hear about that.  Glad you are on the mend.  As Pete said, no rush here, just focus on healing up first.

[2015-05-29 16:07] kaneplusplus commented on #16
Thanks fellas.

[2015-06-02 04:41] sritchie73 commented on #4
Nice! Any news on when this version will be available on CRAN?

[2015-06-02 12:00] cdeterman commented on #4
@sritchie73 We are currently working on some additional small fixes (see issue #15 and #16 ).  I imagine once we have these issues resolved so R CMD check passes without error we will update it on CRAN.  For now you can use the dev version from this repo.  Did you have any additional thoughts @kaneplusplus ?

[2015-06-02 16:19] kaneplusplus commented on #4
Looking at #15  it doesn't seem like there was a consensus. I pointed out that it's nice when the behavior is similar across all platforms but I don't like Windows, I think development on Windows is miserable, and I think if you want to do any serious computing you should be on Linux. As a result we've traditionally done the minimum needed to get Windows building and I don't mind continuing with t

[2015-06-02 16:34] cdeterman commented on #4
If CRAN doesn't have an issue with the Windows limitations I have no issue with it moving forward.  Windows definitely is a pain for things like this.  I think within bigmemory we will need \dontrun at the start of most of the examples however but ultimately really isn't an issue.

[2015-06-02 19:52] phaverty commented on #4
I'm OK with doing \dontrun on the troublesome examples.  I'm also not super
concerned about losing Windows support. People have asked me about it from
time to time, but not so much that it is critical to have support.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Tue, Jun 2, 2015 at 9:34 AM, Charles Determan <notifications@github.com>
wrote:

[2015-07-16 17:02] kindlychung opened #17 "Binary backing file not consistent"
Here is the code:

    # test big.matrix
    x = matrix(4, 2, 2)
    y = as.big.matrix(backingfile = "test.bin", descriptorfile="test.desc", backingpath = "/tmp", binarydescriptor=TRUE, x = x)
    y[, ]

On Ubuntu 15.04:

	kaiyin@tron 18:58:11 | /tmp =>
			xxd -b test.bin
	0000000: 00000000 00000000 00000000 00000000 00000000 00000000  ......
	0000006: 00010000 01000000 00000000 00000000 00000000

[2015-07-16 17:28] phaverty commented on #17
Hi Kaiyin,

Thanks for the report. Are there any inconsistencies at the R level? I
suspect that the difference is deep in glibc or the Mac equivalent.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, Jul 16, 2015 at 10:02 AM, Kaiyin Zhong <notifications@github.com>
wrote:

[2015-07-16 17:40] kindlychung commented on #17
You are welcome.
At the R level everything looks the same. I found this out because I was trying to manipulate the underlying binary data in an R package that I have been developing.

[2015-07-16 17:48] phaverty commented on #17
That sounds interesting. I suspect that if you manipulate the binary data
using the same "Boost" library that we use for our memory mapped data
structures, everything will work out. I don't know of anything we can do to
change this behavior. We don't have anything in there that intentionally
works differently on Mac or linux. Perhaps some of the better C++ people on
our team will know more.

Pete

[2015-07-17 15:09] kaneplusplus commented on #17
Thanks for reporting this. To add to Pete's comment, it looks like Mac includes eof for the memory mapped file. Linux must keep track of the end of the file elsewhere. My hunch is that this is happening at the system level and that you'd see something similar by calling mmap directly from C.

In any case, it doesn't seem to be causing problems with functionality. It is certainly something that we

[2015-07-21 17:01] cdeterman commented on #15
I believe I have narrowed down the problem to a weird permissions issue with the backingfile that is created.  If I forcefully delete the backingfile from CMD on Windows I can create consecutive `filebacked.big.matrix` objects.

For some strange reason though, the permissions (which look identical to the description file which will overwrite/delete) won't allow me to delete the backing file from w

[2015-07-21 21:59] phaverty commented on #15
Good detective work!  Is there some Boost function that releases the
mmapped memory? Perhaps we need to call that first?

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Tue, Jul 21, 2015 at 10:01 AM, Charles Determan <notifications@github.com

[2015-07-22 12:53] cdeterman commented on #15
Although, not a solution, some more information I discovered.  If I `rm` the R object the refers to the `filebacked.big.matrix`, call `gc()`, then I can delete the file or simply overwrite it with the same `filebacked.big.matrix` call.  So the destructor is working appropriately when the `gc()` is called **after the R object is removed**.  What appears to be the problem is, albeit only on Windows,

[2015-07-22 17:12] phaverty commented on #15
I like #3.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Wed, Jul 22, 2015 at 5:53 AM, Charles Determan <notifications@github.com>
wrote:

[2015-07-22 17:30] cdeterman commented on #15
@kaneplusplus did you have any thoughts?  If we decide option 3 is the best then Windows will be fine and we would change the behavior on Linux.  This mainly would include figuring out how to prevent the overwriting if the **R object** exists on Linux (which it doesn't appear to).  It is a mystery to me why the R object on Linux doesn't appear to be connected to the file whereas on Windows it is.

[2015-07-23 14:40] kaneplusplus commented on #15
I like #3 as well. @cdeterman if you have time to do it that's great. Otherwise I can probably get to it this weekend.

The fix can be done from R. In the create functions a check is performed to see if the file exists. If so the error is triggered otherwise it proceeds as usual.

[2015-07-23 14:56] cdeterman commented on #15
The fix is trivial if we just want to say if the file exists, don't overwrite it.

However, if we prefer the option where if there is an existing R object using that file (which appears to be the default with Windows) it is more complicated and I'm not quite sure how to approach that from the Linux end.  On Linux, R doesn't seem to register that there is a connection between the R object and the f

[2015-07-23 15:14] kaneplusplus commented on #15
I prefer the trivial fix. If someone is creating a filebacked big matrix it is presumed to be big and a fair amount of processing went into creating it. In that case, I like the idea of guarding against accidentally overwriting it but providing an error message that tells the user how to explicitly get rid of it.

[2015-07-23 15:39] cdeterman commented on #15
Okay, I can take care of this then as it shouldn't take very long.  I have also fixed the documentation warnings within my current edits so I can just provide a pull request once everything is updated and I believe all the builds should complete successfully.

[2015-07-23 15:43] kaneplusplus commented on #15
OK, I have a little bit of time. I'll see if I can get the AppVeyor build working for Windows.

[2015-07-23 16:26] cdeterman commented on #15
I just got the build to complete successfully on AppVeyor with the filebacking fix.  If the Travis CI passes I will create a pull request.

[2015-07-23 16:35] phaverty commented on #15
Great!

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, Jul 23, 2015 at 9:26 AM, Charles Determan <notifications@github.com>
wrote:

[2015-07-23 17:06] #11 closed

[2015-07-23 17:07] cdeterman commented on #15
@phaverty Will this update, you may need to check your tests/examples in your bigmemoryExtras package.  If you create more than one `filebacked.big.matrix` object you will need to explicitly remove the R object, call `gc()` and `file.remove` on the backing files.  Just a heads up if you try to upgrade immediately.

[2015-07-23 17:07] kaneplusplus commented on #15
Excellent! Thanks Charles.

BTW will either of you be at JSM?

[2015-07-23 17:07] #15 closed

[2015-07-23 17:08] cdeterman commented on #12
This has now been added.

[2015-07-23 17:11] phaverty commented on #12
Great!  Bioconductor added something similar recently. It is quite helpful.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, Jul 23, 2015 at 10:08 AM, Charles Determan <notifications@github.com

[2015-07-23 17:11] cdeterman commented on #15
@kaneplusplus I wasn't actually aware of that conference.  Given my schedule ATM it is unlikely I will be able to attend.  Perhaps next year.

[2015-07-23 17:13] cdeterman commented on #12
Indeed, it is great to see how much of the code has been tested.  It integrates nicely with the testthat package.  Strangely this issue doesn't have the option to close now???

[2015-07-23 17:16] phaverty commented on #15
Sorry, not me.  Bummer.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, Jul 23, 2015 at 10:07 AM, Michael Kane <notifications@github.com>
wrote:

[2015-07-23 19:01] cdeterman commented on #12
@kaneplusplus hmm... it appears that your specific coveralls isn't working at the moment.  The coveralls I use on [my fork](https://coveralls.io/github/cdeterman/bigmemory) shows the coverage at ~55%.  Perhaps a switch hasn't been hit on your end?

[2015-07-23 19:04] cdeterman commented on #16
Are we content with the \dontrun approach of the examples?  If so, I think we should close this issue and perhaps open a separate one regarding the R CMD check environment problem.

[2015-07-23 21:22] phaverty commented on #16
I'm OK with \dontrun.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Thu, Jul 23, 2015 at 12:04 PM, Charles Determan <notifications@github.com

[2015-07-24 00:49] kaneplusplus commented on #16
Yes, I agree - I'll close it and open a new one.

[2015-07-24 00:49] #16 closed

[2015-07-24 00:50] kaneplusplus opened #19 "Bigmemory gives an error in R CMD CHECK environment"
From @cdeterman. The primary problem appears to be in the big.matrix.Rd file with the example

x <- big.matrix(10, 2, type='integer', init = -5)

Strangely this returns the error

Error: memory could not be allocated for instance of type big.matrix
where somehow CreateSharedMatrix is returning a null address. This is very odd as it works without a problem when run in the R console even when multip

[2015-07-24 14:29] kaneplusplus commented on #12
It looks like coveralls.io is doing some updating and is read only right now. I'll give it a day or two before looking for a problem.

BTW 55% is great.

[2015-07-27 13:55] kaneplusplus commented on #12
OK, it looks like the coveralls upgrade is complete and I'm seeing 55% coverage in the badge. In the next  couple of days I'll take another looks and see what, if anything needs to be done for the next submission of bigmemory to CRAN.

[2015-07-27 13:55] #12 closed

[2015-08-07 18:28] cdeterman opened #20 "Non-contiguous sub.big.matrix?"
Currently we have `sub.big.matrix` but it explicitly states that non-contiguous subsets are not possible.  It would be great if we could find a way to get this implemented before the next release.

[2015-08-07 18:33] kaneplusplus commented on #20
Agreed. The ```sub.big.matrix``` was implemented with row and column offsets in the ```BigMatrix``` class. We could probably do a lot more by implementing a new accessor class. However, we need to make sure that the data structure doing the mapping from matrix coordinate to memory location is not so complex that it uses a lot of memory and we need some way to make it clear that it won't work with

[2015-08-07 19:05] cdeterman commented on #20
@kaneplusplus why is it that it won't work with bigalgebra?  That seems like a pretty large constraint if you want to do anything with the data other than some minimal summary statistics.

[2015-08-07 19:30] kaneplusplus commented on #20
bigalgebra assumes BLAS/LAPACK and both take contiguous column-major c-arrays as input. If your ```sub.big.matrix``` is simply a subset of the columns then there is no problem since the memory is contiguous. Otherwise you end up memory that is not contiguous.

A quick fix would be to have bigalgebra check to see if the object is a ```sub.big.matrix``` create an anonymous ```big.matrix``` and pass

[2015-09-15 18:39] cdeterman opened #22 "Define Location of 'backing counter' files?"
When I create a given `big.matrix` object a series of associated files (counter, counter_mutex, etc.) are created in to a system defined temporary directory.  For example, I have seen `/dev/shm` and `/run/shm`.  Is there a way to define an alternate directory where these files could go?  If not, perhaps a similar option that is available in `bigalgebra` with `options(bigalgebra.tempdir)` would be

[2015-09-15 23:15] kaneplusplus commented on #22
If I remember correctly ```/dev/shm``` is where all mmap'ed, named shared-memory resources are kept. We can definitely change the location of the counter. I'm not sure about the counter_mutex but I it'll probably work. The process for creating those shared resources may also have to change a little bit but I don't think it would be too bad.

However, would you really want to do this? I think the c

[2015-09-16 12:02] cdeterman commented on #22
Ah, that is right.  I completely overlooked the fact that `/dev/shm` is for shared-memory.  Perhaps another angle to this question then, can we get the shared memory object name in the `/dev/shm` directory?  The reason behind these questions is in the context of servers where they are almost never restarted the files created can build up.  If the user can get the name then they could explicitly cl

[2015-09-16 19:31] cdeterman commented on #22
I realized that we already have the `shared.name` function.  I will close this issue.  My own oversights.

[2015-09-16 19:31] #22 closed

[2015-09-16 19:32] cdeterman opened #23 "Ordering Columns?"
Right now we currently have `mpermute` which will reorder rows.  It seems to me we should have the option to reorder columns as well.  Thoughts?

[2015-09-16 19:58] phaverty commented on #23
I like it.  I have a to-do item regarding deepcopy on my personal list. I'd
like to be able to copy arbitrary chunks of a bigmatrix to another
(possibly the same) bigmatrix. Perhaps operations could share some code?

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Wed, Sep 16, 2015 at 12:32 PM, Charles Determan <notifications@github.com

[2015-09-18 19:19] cdeterman commented on #23
@phaverty, I believe my pull request will address the column reordering (once Mike accepts it or after we make a few more edits).  Did you have an example of these 'chunk' copies that you would like to do?  I'm not sure I understand what you are looking for?  Do you mean non-consecutive rows/columns?

[2015-09-24 16:26] phaverty commented on #23
Hi Charles,

Sorry for the delay. I don't have a working example I can send, but I
sometimes have to merge a few bigmats into one. The operation is somewhat
like a do.call(cbind, ...) but sometimes the rows don't match up exactly.

bigmatA[ 1:10, 1:2 ] = bigmatB[ 2:11, 1:2 ]
bigmatA[ 1:10, 2:4 ] = bigmatB[ 1:10, 1:2 ]

It's not super fast, so I thought it might be nice to move this down to C.
It's

[2015-09-25 13:11] #23 closed

[2015-09-25 13:13] kaneplusplus commented on #22
No problem. I'm happy to answer questions. The line count for the project is big enough that it's sometimes more efficient for me just to answer the question.

[2015-09-25 13:15] kaneplusplus commented on #23
The pull request has been merged. Thanks.

[2015-10-14 16:07] kaneplusplus opened #25 "Missing GetIndivMatrixElements in RcppExports"
When building I'm getting the following note:
[code]

It looks like this is happening because ```GetIndivElements.bm``` in bigmemory.R is calling ```GetIndivMatrixElements```, which isn't defined.

I think the there should be a ```GetIndivMatrixElements``` in RcppExports.R should call ```GetIndivMatrixElements``` in bigmemory.cpp. However, I'm a little bit confused by the signature.

[2015-10-14 16:43] cdeterman commented on #25
Ah, that is because of syntax error I made with the Rcpp attributes.  I will push a fix shortly.  Thanks for noticing that error.

[2015-10-14 16:55] #25 closed

[2015-10-15 14:16] kaneplusplus commented on #19
Please note: I've removed a \dontrun from the attach.big.matrix documentation. This is make it easier for Kurt Hornik to take a look at the problem.

[2015-10-16 16:43] cdeterman commented on #19
I see there was a merge stating that the \dontrun bug was fixed.  What was the problem?

[2015-10-16 19:44] kaneplusplus commented on #19
I've got it fixed on *nix. For shared-memory matrices the check environment was trying to use the same shared name more than once, which was causing a problem. My guess is that the random seed is set to a constant and, as a result, the same resource name was generated more than once.

I'm verifying it works on Windows. AppVeyor feels slow when debugging.

However, I'm not really sure. The problem

[2015-11-09 23:43] agrueneberg opened #30 "Current state on Windows unclear"
Hi Michael,

I see that a lot of work has been done since this questions has been asked last time (see #2), and I had no problems installing the package from CRAN on a virtual machine running Windows, so I am wondering if there are any remaining issues with Windows support? http://bigmemory.org still mentions that "updating bigmemory with restored support for Windows" is a work in progress.

Thank

[2015-11-10 01:14] kaneplusplus commented on #30
Thanks. It is supported. I need to update this.

[2015-11-10 02:02] agrueneberg commented on #30
Good to know, thanks! Hope you will find some time to update the page soon.

[2015-11-10 02:16] kaneplusplus commented on #30
I will. Thanks for the reminder.

[2015-11-10 16:29] #17 closed

[2015-11-10 16:29] #1 closed

[2015-11-10 16:31] kaneplusplus opened #31 "Resource leak when shared big.matrix used with multicore"
[code]
causes a shared memory resource leak. The following does not.
[code]

[2015-12-07 17:14] agrueneberg commented on #30
Thanks for updating the page, Michael.

[2015-12-07 17:14] #30 closed

[2016-02-22 13:46] #31 closed

[2016-03-05 16:03] kaneplusplus opened #33 "Problem is SetElements"
Fix this and add a test.

[code]

[2016-03-07 13:18] cdeterman commented on #33
Hmm... I just synced my fork to your repo and tried that block of code without problem.  Have you made any changes since posting this?

[2016-03-07 14:52] kaneplusplus commented on #33
Yes, this has been fixed and the change is checked in.

[2016-03-08 15:41] #33 closed

[2016-04-08 15:37] kaneplusplus opened #34 "big.matrix doesn’t store row names"
Someone else described the same problem in stackoverflow:

http://stackoverflow.com/questions/12576735/bigmemory-and-rownames-dimnames-of-matrix

[2016-04-27 20:37] kaneplusplus commented on #34
I'm having trouble reproducing this one.
[code]

[2016-04-27 21:19] #34 closed

[2016-05-09 22:10] VincentDamotte opened #35 "rbind-like function?"
Hi,
I am wondering is there is rbind-like function, as it seems that rbind() can not handle big.matrix objects
Thanks
Vincent

[2016-05-11 19:31] kaneplusplus commented on #35
There is currently not an rbind function. Since bigmemory allocates contiguous blocks of memory, this can be very expensive. It is currently up to the user to implement rbind by allocating a new big.mattrix object with the appropriate number of columns and copy the contents of the source matrices to the new big.matrix.

[2016-05-27 12:59] cdeterman opened #37 "big.matrix alters R's RNG seeds"
If I do the following sequence of functions calls multiple times, the outputs are always the same:

[code]

but if I use `big.matrix` then the calls are different each time:

[code]

Any idea why this is happening?  I suspected somewhere in the C++ code a 'random' function is called but I couldn't find anything to that effect.

[2016-05-27 16:15] kaneplusplus commented on #37
Can you create a file-backed big.matrix with a binary file name and see if you see the same behavior?

If I remember correctly, the big.matrix example creates a shared resource. Since a name is not provided we create a name using sample. If the name already exists, then we create another one and check to see if it is in use.

[2016-05-27 16:21] cdeterman commented on #37
The following allows consistency when replicated:

[code]

but the output is not the same as the plain R `matrix` call sequence above.  The last `rbinom` calls still don't match.  This may be something unavoidable.  If so, it has some implications for creating reproducible code to base R functions when using 'random' functions.

[2016-06-02 13:30] cdeterman commented on #37
Were there any further thoughts regarding this or is this likely an unavoidable consequence of `big.matrix` objects?

[2016-06-02 15:02] cdeterman commented on #35
I have seen this come up before, perhaps a simple wrapper that accomplishes this automatically (with proper documentation noting what it does of course) for `rbind`/`cbind` methods?  However it may be more appropriate for a `biganalytics` issue than `bigmemory`?

[2016-06-02 19:25] kaneplusplus commented on #37
I'm not sure. I would have thought they should be the same. Let's leave it open for now.

[2016-06-02 19:27] kaneplusplus commented on #35
Either one is fine with me. I might lean toward putting it into ```bigmemory```. Also you are correct that requests for this functionality are not uncommon.

[2016-07-16 20:23] privefl commented on #20
Maybe the simpliest thing to do is to provide a deepcopy-like function more than a sub.big.matrix-like function.

I personally use something like:
`X2 <- big.matrix(length(ind.row), length(ind.col), type = "char", shared = FALSE)
  deepcopyPart(X@address, X2@address, ind.row, ind.col)`

where
`void deepcopyPart(SEXP pBigMat,
                  SEXP pBigMat2,
                  const IntegerVector& r

[2016-07-18 19:08] kaneplusplus commented on #20
Thanks very much!

Please note that deepcopy does let you specify columns and rows to copy from a big.matrix object.

[2016-07-18 19:10] cdeterman commented on #20
@privefl Thanks for jumping in, contributions are always welcome.  However as noted by Mike this is available via `deepcopy`.  The reason I created this issue was it would be ideal to have a method to reference non-contiguous elements within a `big.matrix` object WITHOUT copying the elements to another object.

[2016-07-19 06:38] privefl commented on #20
I'm very sorry, I read the documentation too quickly, I thought `rows` and `cols` stood for sizes, not indices.
I will try this option right now.
Thank you both.

[2016-07-29 17:28] cdeterman opened #39 "deepcopy appears to drops dimnames when `cols` argument used"
Even when `options(bigmemory.allow.dimnames = TRUE)` it appears that `deepcopy` is dropping dimnames (notably column names) when you wish to subset the columns.

For example:

[code]

This is not the case though if the `cols` argument is not used:

[code]

[2016-09-11 13:09] adamryczkowski opened #40 "Is it possible to access a memory-backed bigmemory deterministically?"
I want to use the bigmemory::matrix as a means of communication between two unrelated R processes. The bigmemory::matrix can be shared using its descriptor file, but one needs to send the descriptor file to the other process, so there is a chicken-and-the-egg problem.

One way of solving the problem is to save the descriptor file in some place on the mutually agreed location within the file struct

[2016-09-12 16:17] adamryczkowski opened #42 "How to use big.matrix with raw bytes?"
It seems, that big.matrix of type char is... char, i.e. *signed* byte. For R it is *unsigned* (there is no *singed byte* in R).

How to store a byte in a big.matrix?

Or: how to make this test pass?
[code]

[2016-09-12 17:02] phaverty commented on #40
Hi Adam,

The two R processes both need to get the metadata from the description file
one way or another. They don't both need to read the description file,
however.  You can send the description information from one process to
another however you like. I will often share one bigmemory object among
multiple threads by loading it in one session/script and then passing it to
a mclapply call.  In the

[2016-09-12 17:09] adamryczkowski commented on #42
I've added a patch for that together with the unit test. Please add it upstream, so I can build my package on top of that more easily.

[2016-09-12 17:20] kaneplusplus commented on #42
Thanks very much Adam. It has been reviewed and merged.

[2016-09-12 17:20] #42 closed

[2016-09-13 08:59] adamryczkowski commented on #40
Not really, but thank you for your time.

I wanted my package a) not needing the server part (the one that initializes the `big.matrix`) being launched prior the client and preferably b) not to touch the filesystem.

I understand, that I need to let the "b)" part go.

In theory it is possible to use the *message queue* with a message containing the description of the big.matrix (or just the memory

[2016-09-13 08:59] #40 closed

[2016-09-13 15:59] privefl opened #44 "object of type 'S4' is not subsettable"
[code]
now gives
[code]

This seems to be a problem only when accessing a subset of rows.
It worked in earlier versions (don't know which though).

I now use `a[1:2, ] <- as.numeric(m)` which less straight-forward but works.

[2016-09-13 16:33] cdeterman commented on #44
Ah, this is because there isn't an S4 method for `matrix` classes.  This will need to be added explicitly.

[2016-09-13 20:25] privefl commented on #44
Thanks, seems to work again.

[2016-09-14 11:54] adamryczkowski opened #46 "Test coverage is low"
@kaneplusplus  The bigmemory package has low test coverage, so it is easy to add a feature, that breaks something else. (I will add the quoted `m[1:2,1] == c(NA, -5)` to the tests)

When I was browsing the code, I found a lot of repetitions, which are places that can easily introduce errors when the package evolve. I am willing to put some time and effort to write the unit tests and to refactor th

[2016-09-14 12:33] cdeterman commented on #46
@adamryczkowski the test coverage is actually not correct.  There is something strange happening with coveralls on the travis ci that isn't working properly.  Locally, I can run `covr::package_coverage` and it is over 60%.  More unit tests are always appreciated to cover more of the package but I don't want you to get the impression that barely anything is currently covered.

[2016-09-14 12:54] adamryczkowski commented on #46
I didn't mean that. But true, my judgement was influenced by the GitHub's value.

[2016-09-14 16:49] kaneplusplus commented on #46
@adamryczkowski if you'd still like to talk that's fine with me. @cdeterman if you'd like to join that would be great.

[2016-09-14 17:00] privefl commented on #46
I could contribute too because the package that I will develop during my thesis depends on bigmemory.
Although, I'm more skilled in R(cpp) than pure C.

[2016-09-14 17:03] cdeterman commented on #46
@privefl that's fine.  It is currently a push (mostly from me) to use much less C in bigmemory.  Converting the rest of its' internals to using Rcpp (I did the original conversion) has been a goal of mine but I've lacked the time to do so.  Always happy to get more people concerned with testing and package coverage and consistency.

[2016-09-14 17:22] privefl commented on #44
I installed your version. It seems to work.
Please close this issue when you merge.

[2016-09-14 17:25] cdeterman commented on #44
Naturally.   I am waiting on @kaneplusplus to complete the merge.

[2016-09-14 17:39] adamryczkowski commented on #46
Nice. I live where clocks are set in GMT +1. At the moment I am freelancer, and so I am flexible about time.

Is Skype (R) good enough for you, or would you rather talk using something else (I would gladly learn about a better VoIP than Skype ;-) ).

[2016-09-14 18:58] privefl commented on #46
I'm in holidays until October 2, so same for me. GMT+1 too (France). I'm better at writing than speaking English but it should be OK x)

[2016-09-15 14:01] privefl opened #47 "as.big.matrix() with type "raw""
I tried:

[code]

Am I doing something wrong or is it a missing implementation?

@adamryczkowski

[2016-09-15 14:18] adamryczkowski commented on #47
No, it is a bug. What works (and what I have been doing) is:

[code]

I'll look at it.

[2016-09-15 14:28] adamryczkowski commented on #47
Now your code work as expected.

Thank you for testing my patch :-)

[2016-09-15 14:32] cdeterman commented on #47
Hence the perpetual need for more unit tests :)

[2016-09-15 14:36] adamryczkowski commented on #47
So here it is :-)

[2016-09-15 15:51] privefl commented on #46
The problem of coverage is a problem with coveralls or with travis (.yml file)?

I use codecov for my packages and it works fine, maybe try it?

[2016-09-15 15:51] privefl commented on #47
Thanks

[2016-09-15 15:53] cdeterman commented on #46
@privefl I have actually tried codecov as well ([see here](https://codecov.io/gh/cdeterman/bigmemory/tree/42faa982a55f8cf082e7c654879441657332323a)).  I have been trying to troubleshoot it in another issue [here](https://github.com/jimhester/covr/issues/184).

[2016-09-15 15:55] privefl commented on #46
I'll try to look at it later.

[2016-09-15 18:59] kaneplusplus commented on #47
Thanks @adamryczkowski. I've merged the pull request.

[2016-09-15 19:00] kaneplusplus commented on #44
Merged. Thanks very much.

[2016-09-15 19:00] #44 closed

[2016-09-19 12:44] cdeterman commented on #46
I believe we can close this issue now?  Unless we want to leave it open for our potential chat session?

[2016-09-19 13:16] #46 closed

[2016-09-24 12:46] privefl commented on #19
Still get this problem when checking a package that creates a big.matrix object in examples.
The error seems to disappear when using `shared = FALSE`.
And, the error seems to not happen when using `as.big.matrix` from a `matrix` object.

PS: tested on Windows

[2016-09-26 12:59] kaneplusplus commented on #19
I'll take another look. I'm pretty bandwidth-limited this week though.

[2016-10-05 13:17] privefl opened #53 "sub.big.matrix of a non-shared big.matrix?"
[code]
Is it normal? Why?

[2016-10-05 18:01] kaneplusplus commented on #53
```DescribeBigMatrix``` is not working because the ```big.matrix``` object only exists in a single process. You would copy it with a ```deepcopy```.

However - as you probably already know - the real issue is "Why can't you create a ```sub.big.matrix``` from a non-shared ```big.matrix```?" The code is probably using ```describe``` to attach to the ```big.matrix```. This should be fixed.

I'll prob

[2016-10-06 06:59] privefl commented on #53
Thanks for your time.

[2016-10-06 12:59] kaneplusplus commented on #53
Thanks for your patience.

[2016-12-19 19:51] noamross opened #54 "Support for n-dimensional arrays?"
I was wondering if you would consider supporting n-dimensional arrays in your package.  It seems it would be relatively straightforward to do so.  **ff** does this, but it doesn't provide a C++-level interface that would allow me to work with ff objects from Rcpp, as bigmemory does.

[2016-12-20 16:29] privefl commented on #54
From when I thought of this problem, the more straightforward way to do so for me was to make a function that convert multiple indices to one:
1,1,1 -> 1
1,1,2 -> 2
etc.
Did you try this? I'm interested to know the performances, even if it must really depends on the use you have.
Can you provide an example?

[2016-12-21 20:46] kaneplusplus commented on #54
I wrote about how to do this in my dissertation. It's essentially the scheme that @privefl describes and it can be done in C++ by creating a new matrix accessor type or, in R, subclassing big.matrix and overriding the bracket operator.

[2016-12-22 08:16] privefl opened #55 "Do big.matrices know where they are filebacked?"
Is there a way to know where a filebacked `big.matrix` is stored on disk (the directory)?
If not, I think it should be easy to add one slot to the `big.matrix` object with its stored `backingpath` so that we can directly `attach` or `sub` a `big.matrix` without asking the user to specify the directory (`backingpath`). Or maybe add it to the description object instead?

Do you want to do it? I thin

[2016-12-22 15:39] phaverty commented on #55
This package

https://bioconductor.org/packages/release/bioc/html/bigmemoryExtras.html

implements a ReferenceClass that knows the backing path and can re-attach
as necessary. For example, if you reload the object from an RData file and
then use it, it will attach itself to the on-disk data and then carry on.
The package also has a factor type and some optimizations related to the
dimnames.

Pete

[2016-12-22 21:26] privefl commented on #55
I really like the safety feature.

Yet, I thought more of having an object with two classes (one that extends `big.matrix` & `big.matrix`) so that you can use (seamlessly) all functions available for `big.matrix` objects. In order to let people choose if they want to use the extension or not (or include it directly as part of a `big.matrix`).

I understand that the `big.matrix` object is accessed

[2016-12-22 22:33] phaverty commented on #55
The class you describe is exactly what I wanted too.  The auto-attach
feature required the magic of ReferenceClasses and activeBindingFunctions,
though. I hoped to make big.matrix and BigMatrix interchangeable by giving
them the same API. However, it would still be nice to have the two share a
super class so S4 dispatch would do the right thing.

I'd be open to making a simpler BigMatrix-like thin

[2016-12-27 13:17] privefl commented on #55
I am analysing some of the code to see if I could change this behaviour without affecting users that uses the `path` extra parameter.

I've come accros these lines of code: https://github.com/kaneplusplus/bigmemory/blob/master/R/bigmemory.R#L1836-L1840.
As the new address is created with readOnly, I think the condition is always true.
I wanted to be sure before removing these 5 lines of code in th

[2016-12-27 17:38] privefl commented on #55
Can you review this PR: https://github.com/kaneplusplus/bigmemory/pull/56?

[2017-01-02 20:09] privefl opened #57 "Questions on dev"
I'm starting to put my nose in the code of this package to
- understand it better,
- try to solve some problems,
- try to add some features.

I have some questions on some choices of implementation. It will be mostly C/C++ questions as I'm more comfortable with R. They may sound "stupid" to you.

I will use this conversation to ask my questions and hope for your answers, so that I can contribute m

[2017-01-02 20:11] privefl commented on #57
First question:
- what it `index_type`?
- where it is defined (some file / std)?
- why not just using `int`? Can it be replaced by an `int`?

[2017-01-02 22:01] privefl commented on #57
Second question:
Is there still a use of adding extra information (NumericVector of size 2) of ncol and nrow in colOffset and rowOffset of descriptors?

[2017-01-02 23:29] kaneplusplus commented on #57
The ```index_type``` is the type that is used to index into a C-array. It is defined in ```bigmemoryDefines.h``` as ```intptr_t``` which is guaranteed to be 64-bits on a 64-bit machine. The ```int``` type is insufficient because it is only 32-bits and would only let you index 2^31-1 values in a C-array.

I think ```colOffset``` and ```rowOffset``` are used in ```sub.big.matrix``` objects, which ar

[2017-01-03 08:19] privefl commented on #57
Are there people who have datasets with more than 2 billion rows or columns?

This is OK for `colOffset` and `rowOffset`. What I meant is that when you get a descriptor of a `big.matrix`, you have the slots `$colOffset` and `$rowOffset` in the `@description` which are vectors of size 2 (the offset and the dimension), while the dimension is also given in `$ncol` and `$nrow`.
And, I can't see where

[2017-01-03 19:50] #55 closed

[2017-01-03 19:55] privefl commented on #19
I think we get this error when we don't have enough shared memory space available. Especially, when I'm crashing my R sessions lots of time.
I use http://stackoverflow.com/a/4262545/6103040 to get some space back. It usually works.

[2017-01-04 13:34] kaneplusplus commented on #57
There are people who routinely use ```big.matrix``` objects with more than 2 billion elements.

[2017-01-04 13:39] #19 closed

[2017-01-04 13:42] cdeterman commented on #19
@kaneplusplus was this actually solved?  I thought @privefl just made an observation?  It shouldn't be a requirement for a user to need to manually clean up processes from the commandline.

[2017-01-04 15:35] privefl commented on #19
I think we cannot do much about it, unfortunately.

[2017-01-17 22:10] YaohuiZeng opened #60 "timeline for big.sparse.matrix support?"
Thanks for this great package. I have my package that depends on `bigmemory`, and now I wish to add the support for sparse matrix to my package. I noticed that you put `big.sparse.matrix` on your wish list. Just wondering whether you have any plan to implement and any timeline expected for that?

Of course I can use sparse matrix from `Eigen` or `Armadillo` libraries. But those don't support memor

[2017-01-18 07:05] absvm opened #61 "attaching a file backed big matrix fails when using '~' in backingpath on OS X"
Currently I am on R 3.3.2, with bigmemory 4.5.19, OS X 10.11.6.

I noticed that when I use the tilde ('~') in a backing path of a file backed big matrix, attaching the matrix fails. It's a minor issue, I can work around it, but I think it's worth sharing with the community since it took me quite some time to find out what went wrong.

Here is the code that reproduces the error:

[code]

and the er

[2017-01-18 09:20] privefl commented on #60
I think the two main active developers are overbooked at the moment.

I think the difficulty of this implementation really depends on what you really need.
If you only need an C++ accessor (i, j), I think it shoud be relatively easy to do it via defining another class.
If you are interested, we could try it in another package and then merge it later if it works.

[2017-01-18 09:36] privefl commented on #61
Thanks for the feedback.

I think your example now works in the latest version of the package.
You can install it using `devtools::install_github("cdeterman/bigmemory")`.

Also note that you can now attach without specifying the `backingpath`.
Try just `y <- attach.big.matrix(BMdescription)`.

If it's okay, please close this issue (I can't).
Hope I helped.

[2017-01-18 09:44] absvm commented on #61
Great, it works. Also very good to have the backingpath now being stored in the descriptor, so I can attach the matrix without specifying it separately.

Thanks!

[2017-01-18 09:44] #61 closed

[2017-01-18 15:57] YaohuiZeng commented on #60
@privefl I haven't thought about the design though, but basically I need a memory-mapped version of `SpMat`` in `Armadillo`, for example. If that's what in your mind, I'd be very glad to work together with you to get this implemented, though I am not sure how much work it requires.

[2017-01-18 16:11] cdeterman commented on #60
Hi @YaohuiZeng, as @privefl said Mike and I quite busy.  I would love to give more attention to this package but I am quite busy with other work related matters as well as maintaining my other packages.  If you are interested in contributing we have begun transitioning towards having development happening on my fork of the package.  Although I am not free enough to write much code I am able to mon

[2017-01-18 17:09] privefl commented on #60
I was thinking more about a naive implementation:
 - create an R class with `i, p, Dim, x` slots (just like a `dgCMatrix`) with `i` and `x` being one-column `big.matrix` objects.
 - then create a customize accessor (i, j) for this class in C++.

Maybe too naive.

[2017-01-18 17:24] cdeterman commented on #60
@privefl  That may lead to some performance gains with *only* customized functions but won't provide any actual compression (i.e. save memory footprint) or an ability to interface nicely with other libraries like Armadillo (unsure how converting from a normal matrix to compressed would work).  We can experiment but I personally still think exploring more use of `boost` is likely the way to go.  Of

[2017-01-18 17:48] YaohuiZeng commented on #60
@privefl, I think your design is more like another implementation of `SpMat` in `Armadillo`, i.e., no memory-mapping involved, is there? My best guess is that we may still have to go with `boost`, just as @cdeterman said.

[2017-01-19 10:20] privefl commented on #60
Okay, I was pointing more to a light implementation, which could only do a restricted number of features. I don't think @YaohuiZeng need all the features available for a standard `big.matrix`.

What I had in mind was https://github.com/privefl/spBigMatrix.
[There]( http://htmlpreview.github.io/?https://github.com/privefl/spBigMatrix/blob/master/test.html), you can see the results
- for converting

[2017-01-25 17:13] YaohuiZeng opened #62 "Memory leak in bigmemory?"
Hi bigmemory authors,

I am resubmitting my R package biglasso, which depends on bigmemory, to CRAN, and noticed that the Memtest with `clang-UBSAN` reveals some strange runtime errors related to `BigMatrix` object, though I didn't encounter any errors with `R CMD check --as-cran`, nor with [`win-builder`](https://win-builder.r-project.org/).

I attached some output as below. Detailed output can b

[2017-01-25 18:03] kaneplusplus commented on #62
The ```SharedBigMatrix``` class inherits from ```BigMatrix``` - including the ```ncol``` function the error references. Is the object you created that is causing the error a pointer?

[2017-01-25 20:41] YaohuiZeng commented on #62
@kaneplusplus I am not sure I understand, but basically I just use `as.big.matrix` to create the `big.matrix` object. Also, my package didn't touch any `c++` source code in `bigmemory`, nor did it implement any new subclasses. It just accesses `big.matrix` object using  'MatrixAccessor' in 'bigmemory'.

[2017-01-25 22:14] kaneplusplus commented on #62
Nevermind, I found the problem. It looks like clang UBSan was not compiled with RTTI (similar issue [here](https://github.com/google/sanitizers/issues/367)). The sanitizer was not built to handle inheritance and when you call ```xMat->ncol()``` on line 87 of ```gaussian_hsr.cpp``` the compiler can't find ```ncol``` because it can't find methods of the parent class.

[2017-01-25 22:30] YaohuiZeng commented on #62
Thanks a lot for debugging @kaneplusplus ! Then what is the best way to fix this? Should I just get `ncol` inside `R` and then pass it to `c++` code?

Also, if the errors are caused by `xMat->ncol()`, presumably checking `bigmemory` with `clang UBSan` would also give that kind of error.

[2017-01-26 00:57] kaneplusplus commented on #62
It would be best if they fixed their sanitizer ;-)

The previous link prescribes using the ```-fno-sanitize=vptr``` option but I think this will cause a warning in your build since you are fiddling with compiler flags. We should probably send an email to whoever is in charge of the builder. Do you know if it's Uwe?

[2017-01-26 01:36] YaohuiZeng commented on #62
I know Uwe and Kurt help maintain R packages, but it's Kurt who brought up the memory leak issue. I just sent out an email to both and have you copied on the list. Hope they will take care of it. Thanks, @kaneplusplus .

[2017-02-15 13:22] rfcv opened #64 "How can I create a shared big.matrix without using the backing file?"
How can I create a shared `big.matrix` without using the backing file so as to force the matrix to always be used in memory?

[2017-02-26 17:57] privefl commented on #47
@adamryczkowski
I'll continue here, because this is about "raw" big.matrices.
This is only a minor bug, but subsetting with a matrix is returning numeric elements, not raw ones.

Example:
[code]

[2017-03-12 15:51] jaredhuling commented on #62
@YaohuiZeng Did you ever get this issue resolved? If so what was the fix?

[2017-03-12 22:40] remstef commented on #34
The issue is in `read.big.matrix`. Try:
[code]

[2017-03-13 16:14] privefl commented on #34
Try using `devtools::install_github("privefl/bigmemory", ref = "develop")`.
This should be fixed now. The problem was that the rownames were written to the `big.matrix` object but not to the descriptor file.

[2017-03-14 10:45] remstef commented on #34
That works, thanks!

[2017-03-15 09:29] privefl commented on #34
I think I introduced a bug in my code, which is not covered by tests.
Trying to fix it..

[2017-03-15 10:15] privefl opened #65 "Session crash when using two versions of bigmemory."
I have a package that depends on bigmemory.  If I build it with one version of bigmemory, it is OK.
Then if I rebuild another version of bigmemory (without rebuilding my package), my package make the session crash when I use a function.
Rebuilding the package with the current version of bigmemory solves the problem.
If someone can tell why this happens, I am interested.

**TL;DR: Each time you bui

[2017-03-15 10:17] #65 closed

[2017-03-16 01:22] jaredhuling commented on #60
@privefl A light implementation like this could really go a long way! Like @YaohuiZeng, I'd be quite interested in this support for bigmemory

[2017-03-23 15:57] YaohuiZeng commented on #62
@jaredhuling not yet. Uwe pointed out that the issue seems caused by bugs in LLVM. I haven't got a chance to reach out the author of LLVM. Let me try that within these days.

[2017-03-24 17:28] kaneplusplus opened #66 "Winbuilder notes to fix in CRAN submission."
[code]

[2017-03-26 22:37] kaneplusplus commented on #66
Thanks for the pull request. I'm uploading the new version to CRAN now. I'll close when it's accepted.

[2017-03-27 15:31] kaneplusplus commented on #66
```multidplyr``` and ```bigpca``` are broken. I'll be able to take a look later in the week.

[2017-03-27 17:22] cdeterman commented on #66
@kaneplusplus I didn't think `multiplyr` was dependent on `bigmemory`?

[2017-03-27 19:28] privefl commented on #66
`multiplyr`, not `multidplyr`.
But it is interesting that someone developed something for data.frames based on `bigmemory` :-).

[2017-03-27 20:22] kaneplusplus commented on #66
Thanks for the correction, I've updated my original comment. Also, thanks very much for taking a look.

[2017-03-27 21:48] privefl commented on #66
multiplyr done: https://github.com/jeblundell/multiplyr/pull/20
I let you see with the author for the details related with resubmission.

Note that subsetting with booleans doesn't work. E.g.
[code]

I'll check `bigpca` tomorrow. GN.

[2017-03-28 19:16] privefl commented on #66
Multiplyr has some other problems that I don't have when testing it locally.. I don't understand the problem, sorry.

[2017-03-28 19:31] privefl commented on #66
For `bigpca`, the error comes from this line: https://github.com/cran/bigpca/blob/master/R/bigpca.R#L1491
Note that `next.row` is a character vector of numbers. It is like doing this:
[code]
Was this even possible in the past?

Putting `as.numeric()` around `next.row` in this line (and the previous line) solves the problem.

[2017-03-30 20:24] kaneplusplus commented on #66
Negative, we have never supported character types. Thanks for taking a look. I think I can take a look this weekend.

[2017-04-05 15:10] kaneplusplus opened #68 "RProtect Possible Stack Imbalance"
See [here](https://github.com/kalibera/rprotect/blob/master/reports/bigmemory/bigmemory.so.bcheck).

[2017-05-08 12:48] kaneplusplus opened #69 "allow.duplicates not working?"
From an email to bigmemoryauthors:

I've been trying to use the "bigmemory" R package but I'm having some issues when trying to remove all duplicated rows (across all columns) from a big.matrix. According to the manual I should be able to use mpermute with "allow.duplicates = FALSE", but don't think it is working. For example:

[code]

I still get duplicated lines (e.g. 134, 135 and 136).
Is it a

[2017-06-13 13:20] mvaudel opened #70 "read from gzfile"
Hi,

Thank you for this useful package. I use to read my matrices from text files using _read.big.matrix_. I was wondering whether it would be possible to support input from gzfiles?

Best regards,

Marc

[2017-06-13 13:51] cdeterman commented on #70
@mvaudel I can imagine a quick and dirty solution which would involve just uncompressing the file using `gunzip` and then reading the resulting file in as a `big.matrix`.  I'm not sure otherwise about any R interface reading directly from gzfiles.  If such an interface exists, then we could certainly explore it otherwise I think we will likely refer users to simply uncompress the file themselves (

[2017-06-13 15:03] mvaudel commented on #70
Thank you for your answer. It would be really convenient to read directly from the gzipped files because our files are quite huge so it is a substantial gain of time and space if we can read directly from them and deflate on the fly. Are you working on the files themselves or using a connection? For the latter if you can let us provide the connection directly instead of the file name, that should

[2017-06-13 21:37] privefl commented on #70
Hey, check [this function](https://privefl.github.io/bigstatsr/reference/big_readBM.html). You can found [a vignette](https://privefl.github.io/bigstatsr/reference/big_readBM.html) with more information.
This may not be super fast, but it is quite flexible.
Check all the arguments you need to specify, especially the `file.nline` that you have to know explicitly, because the function can't compute

[2017-07-10 15:13] mcol commented on #17
Is this possibly due to this?
https://github.com/kaneplusplus/bigmemory/blob/master/src/BigMatrix.cpp#L846

[2017-07-10 17:32] kaneplusplus commented on #17
Thanks for tracking this down. I do remember problems with binary incompatibilities between Linux and Windows. In particular, Windows and Mac didn't support `ftruncate`. So, we used stream buffers. However, I don't remember the reason for the code you reference.

Please note that we don't claim binary file compatibility across platforms. If you'd like to try the code without `sputc` we'd be intere

[2017-08-10 12:06] privefl opened #71 "Using macros instead of extensive dispatch functions."
I've just come across the [Cleaner Generic Functions with RCPP_RETURN Macros](http://gallery.rcpp.org/articles/rcpp-return-macros/) which are implemented [there](https://github.com/RcppCore/Rcpp/blob/master/inst/include/Rcpp/macros/dispatch.h#L33-L78).

I think, with some tweaking, we could use macros for `MatrixAccessor`s and types `raw, char, short, int, float, double, complex` in order to facto

[2017-08-10 12:10] eddelbuettel commented on #71
@nathan-russell Thoughts?

[2017-08-10 12:58] eddelbuettel commented on #71
@privefl Can you remind us which source files of bigmemory you have in mind?

[2017-08-10 13:22] privefl commented on #71
All of them, there are a dispatch function for half of the functions in `src/` (e.g. https://github.com/kaneplusplus/bigmemory/blob/master/src/bigmemory.cpp#L2415-2478).

[2017-08-10 14:02] eddelbuettel commented on #71
(That URL lacks a second L before 2478)

Seems fine to me. <shrugs> What nothing wrong occasional refactoring.

[2017-08-10 15:06] kaneplusplus commented on #71
It would certainly tighten the code up. Would you mind showing some example code for how it would look? I originally thought about a macro because there is a lot of repetitive code. However, I went with the current version because a) I thought it was more explicit and b) I didn't have all of the nice Rcpp functionality available now.

[2017-08-10 15:15] privefl commented on #71
In fact, macros are quite easy to use.
See an example on my package **bigstatsr**: https://github.com/privefl/bigstatsr/commit/4ac9b5265970ba140685bea0c8c3d21bc0ec1d27

[2017-08-10 17:19] kaneplusplus commented on #71
Oh, OK. For some reason, I thought we were talking about something fancier. Sure, this looks fine to me.

[2017-08-10 17:33] eddelbuettel commented on #71
I am just throwing this out here as _personal_ preference which is not a swipe at the nice write-up.

But MACROS are still evil.  Sometimes we need them (as eg our beloved `SEXP` are poor man's OO via unions) but I still think that compiler-driven type safety is preferable.   But in the end it all depends on the fine details.

[2017-09-19 00:47] rdrr1990 opened #73 "`UndefinedBehaviorSanitizer`: object of type `SharedMemoryBigMatrix` is not `BigMatrix`"
Hi @kaneplusplus ,

I use `library(bigmemory)` in my package [bigKRLS](https://github.com/rdrr1990/bigKRLS) (with @rbshaffer) (and it's been highly effective, increasing what a typical laptop can do fivefold). `bigKRLS` also uses `Rcpp` and `RcppArmadillo`. bigKRLS` uses `library(parallel)` for the marginal effects. (`bigKRLS` regresses `y` on some matrix `X`. If `ncol(X) = p`, `bigKRLS` uses `p`

[2017-09-19 13:43] kaneplusplus commented on #73
Hi @rdrr1990. I vaguely remember a problem with the clang sanitizer options not allowing inheritance options, which are relevant when a `SharedBigMatrix` type needs methods from the `BigMatrix` type.

I'm over-tasked for the rest of the week. I'll take a look this weekend. If I don't update this thread on Monday would you mind pinging me?

Thanks very much.

[2017-09-19 16:42] rdrr1990 commented on #73
Thanks for the suggestion, @privefl . `bigKRLS` currently uses filebacked `big.matrix` objects when the user uses multiple cores. I will take some time this week to see if using them more systematically helps. Do you happen to know whether there's a setting (or something) that makes `R` display `C` errors like that (currently we only see the output when we submit to `CRAN`)?

[2017-09-19 18:11] privefl commented on #73
I don't know. I had problems with parallelism on CRAN.
If it is only for examples and tests, I suggest skipping them on CRAN.

[2017-09-19 18:16] rdrr1990 commented on #73
We did as well, which is why the example calls `bigKRLS(y, X, Ncores=1)` instead of `bigKRLS(y, X)`. Disabling the examples is not a bad idea though (CRAN does not complain about the `testthat` examples).

[2017-09-20 15:41] kaneplusplus opened #74 "Can we replace bigmemory with a small ALTREP?"

[2017-09-20 15:49] cdeterman commented on #74
Not sure, certainly an interesting question.  The 'example' package, `simplemmap`, demonstrating this can be found [here](https://github.com/ltierney/Rpkg-simplemmap).

[2017-09-20 15:55] privefl commented on #74
I found [this presentation](https://www.r-project.org/dsc/2017/slides/dsc2017.pdf).

Maybe @ltierney could give some insight.

[2017-09-20 16:37] kaneplusplus commented on #74
@cdeterman and @privefl after looking at the slides I think we can do this and I like the idea of making a `big.matrix` a first-class R object. I guess the question now is should we look closer at doing this? If we should, what will this look like? Will it be better than the current package or are we essentially reimplementing what we currently have?

[2017-09-20 16:45] cdeterman commented on #74
I don't think it is a re-implementation as the 'shared memory' aspect of `bigmemory` is rather unique.  I think this ALTREP representation is just finding a way to make the objects more compact.

[2017-09-20 17:32] kaneplusplus commented on #74
@cdeterman It has been marketed for compact object representation but overriding `duplicate` could be used so that copied `big.matrix` objects can have copy-on-write behavior. If you are not going to make too many changes to a mmaped object, you could even cause a copied object to trigger a private mapping.

The [vignette](https://svn.r-project.org/R/branches/ALTREP/ALTREP.html) is also a good res

[2017-10-09 13:23] hutaohutc opened #75 "when I use biglasso,my data was a sparse matrix class of Matrix package,biglasso seems only support a big.matrix,I can not onvert a sparse matrix to a big.matrix. any suggestions? thanks"

[2017-10-09 13:24] #75 closed

[2017-10-09 13:25] hutaohutc opened #76 "convert a sparse matrix to a big.matrix."
when I use biglasso,my data was a sparse matrix class of Matrix package,biglasso seems only support a big.matrix,I can not onvert a sparse matrix to a big.matrix. any suggestions? thanks

[2017-10-09 14:04] privefl commented on #76
You can either do `bigmemory::as.big.matrix(as.matrix(x))`, which is a quick and dirty solution or use:

Rcpp code:
[code]
R code:
[code]
Verification:
[code]

This may need further testing.

[2017-11-07 14:05] kaneplusplus opened #77 "Question about multiplyr fix"
@privefl Thanks very much for the `multiplyr` pull request. @jeblundell has committed it and the new version of `bigmemory` should be on CRAN soon.

I was just reviewing the change [here](https://github.com/jeblundell/multiplyr/commit/c534c76b669076bd8826d44ee4430be7b4f4bda2). Can you tell me what the problem was? I'm having trouble isolating it with a simple example:

[code]

[2017-11-07 15:10] privefl commented on #77
With the latest development version:
[code]

  object of type 'S4' is not subsettable

Might be a bug we introduced?

[2017-11-07 15:13] jeblundell commented on #77
Reproducible case:
`arr <- big.matrix (5, 5)
arr[c(TRUE,FALSE,TRUE,FALSE,TRUE),] <- 123`

Reproducible test script:
`#!/usr/bin/Rscript

library (bigmemory)
arr <- big.matrix (5, 5)
try (arr[c(TRUE,FALSE,TRUE,FALSE,TRUE),] <- 123, silent=T)
if (!is.na(arr[1,1])) {
    cat ("\nTEST GOOD\n")
} else {
    cat ("\nTEST BAD\n")
}`

Bisect result:
27e609a4e19b56011740b01fe77767cc168fd730 is the first ba

[2017-11-07 15:42] jeblundell commented on #77
It's not recognising the signatures on the method as it explicitly needs numeric rather than logical. I'm just throwing together a quick patch

[2017-11-14 14:05] mlist opened #79 "object of type 'S4' is not subsettable when using dim names for subsetting"
Hi,

the newest version of the bigmemory package on CRAN (4.5.28) introduced an issue. big.matrix used to support subsetting by dim names, e.g. row and column names. Now this leads to the error: `object of type S4 not subsettable`

Example:

[code]

I also tried if setting this option helps but it did not:

[code]

[2017-11-14 14:32] privefl commented on #79
Maybe the same problem as in https://github.com/kaneplusplus/bigmemory/issues/77

[2017-11-14 14:35] mlist commented on #79
Yeah I believe this one has the same cause but the bugfix that was implemented works only for logical subsetting, right?

[2017-11-15 22:52] kaneplusplus commented on #79
I think @mlist is correct, this is a bug. I've added the example to our unit test. I'll try to get to it in the next few days.

@privel I think it is related to #77. At some point, we lost some assignment capabilities.

[2017-11-16 01:45] kaneplusplus commented on #79
@mlist @privefl OK, I think it's fixed. If I don't hear about any more problems, I'll upload to CRAN this weekend.

[2017-11-16 01:45] #79 closed

[2017-11-21 18:22] phaverty opened #80 "changes to attach.resource?"
Hello,
I'm debugging some breakage in bigmemoryExtras. It looks like

bigmemory::attach.resources(descriptor, path=dir)

is defunct.  Is the new setup stable, or is this still in flux?  (I see some commented-out code that looks like this could be an experiment that made it to master early.)
It looks like somewhere along the dispatch path, descriptor should pick up dirname and filename elements. Ca

[2017-11-21 18:37] privefl commented on #80
Function `attach.resource` is used by `attach.big.matrix`, what do you mean by defunct? Do you mean it shouldn't be exported?

Dirname and filename are indeed stored in the descriptor so that you can reattach without specifying the backingpath (see https://github.com/kaneplusplus/bigmemory/issues/61).

Not sure I understood all your questions, hope I didn't answer something else.

[2017-11-21 18:45] phaverty commented on #80
Sorry, "defunct" was vague.  I meant that the call

attach.resource(descriptor, path)

ignores the "path" argument and goes straight to the method for "big.matrix.descriptor".
There is a line in setMethod('attach.resource', signature(obj='big.matrix.descriptor')
that used to make the path argument work:
   # path <- list(...)[['path']]
but it is commented out now.

has the "path" argument to the m

[2017-11-21 21:15] privefl commented on #80
Yeap, when I added the "auto dirname feature", I disable the path argument, but let it for backward compatibility.

[2017-12-02 15:26] paulklemm opened #81 "big.matrix object creation fails consistently in docker containers"
I encountered a reproducible problem when creating `big.matrix` objects using a Debian docker container. The same also happens for a different one running Ubuntu.

To reproduce, you only need to take the following steps:

[code]

In the interactive `R` session, you run:

[code]

The last command yields the following error:

[code]

The code works on the `R` version on my Mac without problems. The

[2017-12-02 15:43] privefl commented on #81
Have you tried with `shared = FALSE` or using a filebacked `big.matrix`?

[2018-02-01 14:44] jaredhuling commented on #73
I'm having this issue as well, but

...: note: object is of type 'FileBackedBigMatrix'

[2018-02-01 16:56] kaneplusplus commented on #73
I'm not sure. As mentioned before I've only seen this when the clang sanitizer was set to not allow inheritance. Note that a `FileBackedBigMatrix` inherits from a `SharedBigMatrix`, which inherits from a `BigMatrix`. See [here](https://github.com/kaneplusplus/bigmemory/blob/master/inst/include/bigmemory/BigMatrix.h#L240) for the declarations.

[2018-02-09 21:40] sirusb commented on #76
Interesting, will this feature be implemented soon?

[2018-02-11 20:40] kaneplusplus commented on #76
I'm happy to take a pull request for this one. Otherwise, I think I can get to it in the next few weeks.

[2018-02-13 17:13] nnalpas opened #82 "Last empty column gives "Dimension mismatch between header row and first data row""
Hello,

I encountered the following error while using read.big.matrix:
`> evid_bm <- read.big.matrix(filename = "L:/Data/SQL_Maxquant/2018_02/P193-U1-20180204/evidence.txt", sep = "\t", header = TRUE, has.row.names = TRUE, type = "character", backingfile =  "evid.bck", descriptorfile = "evid.desc", shared = options()$bigmemory.default.shared)`
'Error in read.big.matrix(filename = "L:/Data/SQL_Maxq

[2018-02-14 07:34] privefl commented on #82
Package **bigmemory** can be used to store *numeric* matrices.
Seems like you have some strings in your data, which is not currently handled by `big.matrix` objects.
Likewise, I'm not sure using `type = "character"` is possible.

How big is your data? You could maybe read it by chunks with `data.table::fread` and store the numeric columns in a `big.matrix` and the other information in a character

[2018-02-14 08:28] nnalpas commented on #82
Hello,
yes, I noticed afterwards that only numeric are allowed, my bad.
Even though the error would arise if you have a numeric matrix stored in file, with empty values in the last column just after the header, such as:
col1\tcol2\tcol3\tcol4
1\t2\t\t
1\t2\t3\t4

Anyway, I think it could be just my data that is messy and the fix I suggested might not be useful for other people. You're right I will

[2018-02-14 15:04] #82 closed

[2018-05-24 13:50] nolanp2 commented on #76
Any update on this? The feature would be especially useful in cases where the object is too big to run as.matrix() on

[2018-05-24 20:57] privefl commented on #76
I'm a bit sceptical on the use of converting a sparse matrix to a dense big.matrix.
Have you any use case for that?

Maybe it would be better to have a sparse.big.matrix. I tried to do some tests in https://github.com/privefl/spBigMatrix but I don't really use sparse matrices. And it would be a lot of work to reimplement algorithms for this new type of data.

[2018-05-27 16:41] kaneplusplus commented on #76
On Linux and Windows you can create big matrices backed by sparse files by leaving the `init` argument as `NULL`. The size of the backing file will depend on the number of pages needed to represent the matrix. Note that, in Linux, you need to verify this with `du` rather than `ls` since `ls` tells you the "virtual" size.

Also, note, if you are running numerically intensive routines that a sparse

[2018-06-29 18:37] mikejiang opened #83 "cache effect of reading on-disk matrix"
I am trying to compare different on-disk matrix formats and choose the final solution of the best performance of partial read IO. Here is some benchmark results, http://rpubs.com/wjiang2/399331 which shows `bigmemory` is very promising.

I'd also like to eliminate the linux page cache effect between the iterations of the same IO. Here is the command I used to clear the cache (I do have `sudo` perm

[2018-06-29 21:08] phaverty opened #84 "writing integer matrices does too much work"
Writing integer matrices in SetElements.bm calls na.omit and as.integer on the whole matrix twice:

     if (typeof(x) != "double") {
         integerVals <- na.omit(as.integer(value))
         if (sum(integerVals == na.omit(as.integer(value))) !=
             length(integerVals) | is.factor(value)) {
             warning("non-integer (possibly Inf or -Inf) typecast to integer")
         }
     }

[2018-06-29 23:53] phaverty commented on #84
Actually, this code seems wrong for two reasons. The "|" should be "||" since we want the scalar or. Also, isn't "integerVals == na.omit(as.integer(value))" always all TRUE, by definition?

[2018-06-30 00:09] phaverty commented on #84
Also, the as.integer(value) and as.double(value) calls are not cheap. Can we skip them for things that are already the right type, or do we need to drop the dimension attributes?

[2018-06-30 06:55] privefl commented on #84
For the conversion, I've tried to do this which is similar to what you want to achieve I think: https://stackoverflow.com/questions/45677027/warning-when-downcasting-in-rcpp

[2018-06-30 16:37] phaverty commented on #84
Excellent, thanks so much! Yes, this is a job for C so we can avoid
allocating all those intermediate arrays.

Pete

____________________
Peter M. Haverty, Ph.D.
Genentech, Inc.
phaverty@gene.com

On Fri, Jun 29, 2018 at 11:55 PM, Florian Privé <notifications@github.com>
wrote:

[2018-07-09 16:31] kaneplusplus commented on #83
Thanks for the link. This is very interesting.

`bigmemory` doesn't do any other caching. According to [this](https://unix.stackexchange.com/questions/87908/how-do-you-empty-the-buffers-and-cache-on-a-linux-system) you may need to echo 1, 2, and 3.

Are you on a virtual machine? The only other thing I can think of is that the host machine isn't actually dropping the pages.

[2018-07-09 16:33] #84 closed

[2018-07-09 16:34] kaneplusplus commented on #84
Thanks fellas.

[2018-07-09 22:15] mikejiang commented on #83
No, I am on a physical linux box. I've tried all 3 and they all showed the similar outcome.

[2018-08-06 21:37] mikejiang opened #87 "portable matrix file"
Currently it is saved as a filebacked matrix file and the descriptor file. I assume the matrix file is written by boost interprocess, which should be portable across language as long as the language binding for interprocess lib is available. (e.g. https://github.com/ESSS/pyboost_ipc). But the descriptor file is saved as rds file, will it be more portable to save it as plain text so that the on-dis

[2018-08-06 21:45] privefl commented on #87
Currently, the default is to write the descriptor as a plain text `.desc` file that basically contains the result of `dput()` of the descriptor.
Don't know Python well, but that shouldn't be too hard to parse I guess.

[2018-08-06 22:09] mikejiang commented on #87
Great. So how about the binary matrix file itself? Does it contain `bigmemory`-specific information or simply the generic `boost interprocess` format and thus readable by other platform independent from `bigmemory` R package?

[2018-08-06 22:18] privefl commented on #87
The binary file containing the data is just `nrow * ncol * sizeof(type)` bytes.

[2018-08-06 22:32] mikejiang commented on #87
Thanks for the information!

[2018-09-24 15:03] cdeterman opened #88 "diag function"
In reference to the SO question [here](https://stackoverflow.com/questions/52447386/calculate-the-diagonal-of-a-big-matrix-in-r) perhaps it would be a good idea to implement the `diag` function in `bigmemory`?  Given that it is just a way of accessing the elements within the matrix I think it is most appropriate for it to be within `bigmemory`.  The question would just come down to do we want to s

[2018-09-24 15:48] privefl commented on #88
Implementing it in C++ would require a dispatcher.
It is just two lines of (efficient) R code:
[code]
So, I think it would not be worth it..

[2018-09-24 15:57] cdeterman commented on #88
@privefl That is perfectly fine with me.  The only thing I am suggesting is wrapping those lines in a `diag` method so a user can simply call

[code]

It is simply more convenient and expected with matrix operations.  Either as an S4 or S3 method I don't think matters too much in this case.  At least that is my two cents.

[2018-10-25 13:50] MelanieDou opened #89 "Change since R 3.5.1 ?"
Hello,
I have been using the bigmemory package on a previous version of R (3.4.2) and it worked fine to create a bigmatrix using the following code:
[code]
However, I am now trying to use the same code of line in R 3.5.1 and it always throws an error
[code]
I do manage to generate a bigmatrix with smaller numbers (65*16 for example).
Is it really just a matter of space? If yes, how much would such

[2018-10-25 14:36] MelanieDou commented on #89
Thanks for your answer. Good to know it should work.
Windows 8.1
On my D drive (where the backingpathd points to) I have 325GB empty space.
No it is not, should it be?

[2018-10-25 14:39] privefl commented on #89
Nop, it's OK.
Have you tried to reboot your PC? (sometimes it just works)

[2018-10-25 14:42] MelanieDou commented on #89
Yes, but it did not.
Actually, when I want to create the filebacked matrix I get the error
[code]
the other message is when I create the big.matrix without it being filebacked

[2018-10-25 15:37] privefl commented on #89
Ah this is different.
I get the same error message if I put a `backingpath` that doesn't exist.
Try using `normalizePath("D://")`.

For the other message, see https://github.com/kaneplusplus/bigmemory/issues/19.

[2018-10-25 15:49] MelanieDou commented on #89
I used `normalizePath("D://")` instead of my `backingpathd` in the code above but I get the same
[code]

[2018-10-25 16:03] privefl commented on #89
You can also try with `"."`.

[2018-10-26 05:47] MelanieDou commented on #89
did not work either
What is kind of weird is that the code still creates a file with the specified name but does throw the error mentioned above and does not create any descriptorfile

[2018-10-26 06:16] privefl commented on #89
Could you try creating the file with `bigstatsr::FBM()` instead?
The `backingfile` is the whole path (dirname + basename).

[2018-10-26 07:15] MelanieDou commented on #89
It seems to work. I now have my matrix as <Object containing active binding> in the R global environment. can I use it the same way as the big.matrix? Also specify col.names and so on?

[2018-10-26 07:32] MelanieDou commented on #89
mmm, now I can generate the big.matrix but when I try to add content to the matrix in a for-loop the R session keeps "encountering a fatal error" so that it always get aborted.

[2018-10-26 07:34] privefl commented on #89
I don't understand, can you provide the code you tried?
You are still trying to write on your disk D?

[2018-10-26 07:37] MelanieDou commented on #89
Sure, sorry

[code]

I really just copy-pasted my code, let me know if this is unclear.
Yes, the backingpathd is on my D drive

[2018-10-26 07:47] privefl commented on #89
Can you provide your data too?

[2018-10-26 07:49] MelanieDou commented on #89
no I am afraid. I am using confidential data

[2018-10-26 07:50] privefl commented on #89
Just provide some code to generate similar data then (with some fake numbers).

[2018-10-26 08:30] privefl commented on #89
The error I get is `Illegal row index usage in assignment.`, which means that you're using indices ouside the range of the matrix.

[2018-10-26 08:32] MelanieDou commented on #89
oh yes, should be:
[code]

[2018-10-26 08:35] privefl commented on #89
I don't have `shampoo_names`.
Please make sure your code is fully reproducible by restarting your session.

[2018-10-26 09:12] MelanieDou commented on #89
sorry.. If you replace the line by `ChF_twoU_big[range.start:range.end,c("shampoo")] <- as.numeric(as.factor(prov$shampoo))` it should work.
However, now funnily, I cannot generate the matrix with FBM.. I get an error message saying that there is not enough memory available. I restarted the computer but it does not help.

[2018-10-26 11:09] privefl commented on #89
I don't have any problem running the code you provided.

[2018-10-26 11:16] MelanieDou commented on #89
Ok... very annoying. So the differences are that I am using R 3.5.1 and windows 8,1 then? Or is there anything else in the R settings I need to change/adapt?

[2018-10-26 11:20] privefl commented on #89
I'll try on Windows 10 - R 3.5.1 tonight.
Someone else can try this?

[2018-10-26 18:54] privefl commented on #89
Worked on Windows 10 - R 3.5.1.

[2018-11-28 15:15] jonpeake opened #91 "Support for Long Vectors?"
I'm working with data outside the realm of 2^31-1 elements, so I'm having issues converting matrices to big.matrix format using as.big.matrix (due to the inability to pass long vectors to .C or .Fortran, I'm assuming, but I'm not savvy enough to find where this occurs in the source code). I've found a work-around in creating a big.matrix and then assigning data column-wise from my original matrix,

[2018-11-28 17:40] privefl commented on #91
I'm able to run
[code]

[2018-11-30 15:12] kaneplusplus commented on #91
Does it really crash the operating system or does it crash R? If the latter, is there an error message?

[2018-11-30 18:02] jonpeake commented on #91
I actually ended up clean installing Ubuntu 18.04 because I was having bugs with 18.10. After re-installing, I am able to use non-filebacked as.big.matrix. However, this doesn't solve my original problem of trying to use the filebacked as.big.matrix (which is what I really need). I still get the long-vector error, stemming from the SetMatrixElements sub-function.

[2018-11-30 20:08] privefl commented on #91
What is the dimensions of your data?
It does not work with filebacked but works with non-filebacked?

[2018-11-30 20:14] jonpeake commented on #91
My data are 50490x50490 (distance matrix of 50490 sites) double. And correct, it works with non-filebacked, but does not work with filebacked.

[2018-12-01 08:01] privefl commented on #91
Please try:
[code]

[2018-12-01 08:18] #57 closed

[2018-12-01 23:32] jonpeake commented on #91
I tried that and it worked, but I would also like to be able to perform the biganalytics and bigalgebra (cdeterman fork) functions, which also run into the problem of not supporting long vectors. How did you get around the long vector problem in bigstatsr? I'm wondering if your method can be easily ported to bigmemory (specifically the SetMatrixElements function, where the error is ultimately occu

[2018-12-02 08:11] privefl commented on #91
I think the main difference is that I'm relying heavily on Rcpp to link R and C++. This keeps things really simple for me.
Yet, at the time {bigmemory} was developed, Rcpp was not as mature as now I guess.

[2018-12-03 14:19] jonpeake commented on #91
@cdeterman @kaneplusplus Any chance you could look into using Rcpp for bigmemory to support long vectors?

[2018-12-04 16:36] kaneplusplus commented on #91
@cdeterman I think that's correct. At one point we linked bigmemory to the 64-bit api for the MKL in `bigalgebra` but since each of the BLAS set ups were slightly different it was difficult to do in general and we weren't seeing a lot of interest at the time.

[2018-12-04 16:43] cdeterman commented on #91
Perhaps that can be the thought then.  If we can setup some sort of configuration at compile time to somehow detect what the BLAS backend is we could have the C++ conditionally (e.g. using `ifdef` or something) have the `long` vectors and otherwise have the R throw an error stating that the BLAS backend does not support them.  Not sure exactly how at the moment but perhaps some food for thought.

[2018-12-04 23:05] jonpeake commented on #91
Just came across a similar but different bug as well. When subsetting by a vector (i.e., I have a vector of indices that I want to use to set a value or vector of values for in a big.matrix), the `SetIndivVectorElements.bm` sub-function coerces the index vector to as.integer. This causes a bug where indices are coerced into NAs if you have over 2^31-1 elements in the original big.matrix, since thi

[2018-12-05 06:46] privefl commented on #91
- Developer side: the simpler would be to pass those indices as NumericVector.

- User side: you could use the 2-column matrix accessor instead. For example:
[code]

[2018-12-11 00:34] jonpeake opened #92 "Suggestion: Remove temporary (anonymous) backing files on gc()"

[2018-12-15 00:10] mcooganj commented on #35
@kaneplusplus how would i do the allocation and the copy?

[2018-12-17 21:53] kaneplusplus commented on #35
1. Create a `big.matrix` object with the appropriate dimensions using `init = NULL`.
2. For each of the arguments to `cbind` (or `rbind`), copy the values into the appropriate locations.

[2018-12-17 22:00] kaneplusplus commented on #92
I think it's a good suggestion. Your '/tmp' file is probably filling up because of the temporary objects that are created during matrix computations with bigmemory. Under normal circumstances, we don't know if the binary file is going to be used beyond the scope of the `big.matrix` object that references it. You could add a flag that says delete this object in the finalizer. If we do this, we'd ha

[2018-12-17 22:16] privefl commented on #35
For this to be implemented efficiently, I think, it would be first needed to implement this:
[code]
Would be SOOOOO useful.

[2019-03-05 15:10] nbenn opened #93 "Manually finalize a bigmemory object"
I'm in the situation where I would like to manually trigger the destructor of a shared `big.matrix` object instead of waiting for all references to go out of scope/be `rm`ed and the gc doing it's thing. I don't think this is currently possible. Or am I mistaken? Do others consider such functionality useful as well?

[2019-03-05 15:17] privefl commented on #93
I'm not sure to see the use case.
Could you explain more in detail yours please?

[2019-04-18 20:20] nbenn opened #94 "Memory blow-up with multiple calls to attach.resource()"
I'm encountering surprising behavior, where multiple calls to `attach.resource()` inflates the amount of memory reported by `top` as `VIRT`. The following example was run under R 3.5.1., bigmemory 4.5.33 and CentOS 7:

[code]

Is this expected behavior? The reason I'm asking is that I wanted to create many `sub.big.matrix`es corresponding to a large shared `big.matrix` and the reported memory usag

[2019-04-18 20:20] #93 closed

[2019-04-19 04:54] privefl commented on #94
Maybe just an artifact of {memuse}?
Do you have memory problems when you do that? (freezes)

You could try using filebacked `big.matrix` objects instead.

[2019-04-19 07:11] nbenn commented on #94
I see the same behavior for a file backed `big.matrix` object as for shared memory.

[code]

What do you mean by "artifact"? When I inspect the process with `top`, I see the same inflated number under the `VIRT` column. The `RES` column (arguably a better indicator for actual memory usage) reports a more reasonable number.

I'm running this on a shared resource and using 3.6 TiB of (virtual) memor

[2019-04-19 12:13] privefl commented on #94
I can run your core on my laptop. There is no way I have that much memory.

By artifact, I mean the same thing happens with `object.size()`:
[code]

[2019-05-17 13:41] nbenn commented on #94
@privefl I think this can be closed again. The reason why I opened the issue boils down to how the memory usage values reported by `memuse::Sys.procmem()` currently do not mean the same thing under linux and macOS (see shinra-dev/memuse#8). Therefore in a sense, you were right: this could be considered an 'artefact' of memuse.

[2019-05-17 13:41] #94 closed

[2019-06-28 09:21] llpalma opened #95 "Bigmatrix malfunctioning in ppc64le architecture"
Hi,

We have found some issues when using the bigmemory library in our[ CTE-POWER](https://www.bsc.es/user-support/power.php) machine which has a ppc64le architecture.

We tried to compile the library changing the flags in the configure file (lines 25-28) with the aim of converting the endianess specified during the compilation, but we are not able to compile the package successfully.

We were won

[2019-06-28 15:19] kaneplusplus commented on #95
Hi. Thanks for the thorough description of the problem. I have not heard of people working with bigmemory on pp64le. Would you mind sending the error? If it's coming from some of the code that we wrote, and we can fix it, we will. If the error originates in the boost library, this will be more difficult to fix.

[2019-10-10 19:02] ecoquant opened #96 "(seeking advice, not a complaint) read.big.matrix appears to hang on AMD Win 7 with big matrix"
I have a challenging problem, involving a read of an integer matrix having 273,390,744 rows and 7 columns.  I add 30 additional "dummy" columns in the read. All values are integer.

The dataset is 5.9 GB and is a flat file, tab-delimited.

A call to `read.big.matrix` is made as

[code]

Apparently something is built, but the Windows 7 system freezes, including the elapse time-of-day clock.

![bmf_

[2019-10-10 19:52] privefl commented on #96
From what I remember from the code, `read.big.matrix()` writes rows by rows, which can be slow if you have large data.

I would recommend to use `bigstatsr::big_read()` (disclaimer: my package) to read the file, which reads it column by column (see tuto [here](https://privefl.github.io/bigstatsr/articles/read-FBM-from-file.html)).
Then, you could add some extra columns using `$add_columns()`.

You

[2019-10-10 22:53] ecoquant commented on #96
Awesome, @privefl ... I will give it a try!

Thanks much.

[2019-10-11 14:56] ecoquant commented on #96
@privefl .... Worked like a charm. Highly recommended.  Now to see what I can _do_ with these.

Closing ticket.

[2019-10-11 14:56] #96 closed

[2019-11-05 23:23] GabeAl opened #97 "as.big.matrix() pegs spinny little disk for hours despite terabytes of RAM available"
as.big.matrix(M) on a large matrix M starts spinning my disk. This normal, you might say. Well, sadly it is quite undesired in my case, and I am wondering if I can turn off the paging feature.

I have ~200GB of highly fragmented free disk space yet 1.5Tb of nearly-empty memory, yet this function spends over an hour trying to map my in-RAM matrix to my hard drive despite ample memory available. For

[2019-11-06 06:10] privefl commented on #97
First, try to be a bit nicer when you ask for help using open-source software.

Then, try to use `as.big.matrix(M, shared = FALSE)`.
From what I remember, this is what is the closest to RAM matrices.

Third, if that does not work, please give more information (e.g. size and type of data).

[2019-11-06 16:18] GabeAl commented on #97
Thanks @privefl . I'll give it a try and let you know how it goes. I'm glad an option exists, and at first glance of the docs, "shared" didn't stand out to me as having to do with my issue, but I see now this is memory mapping lingo.

Thanks also for being blunt about my tone. I had learned to dramatize my issues online and by phone to clarify my situation and avoid being bounced. Perhaps it is ti

[2019-11-06 16:38] GabeAl commented on #97
Unfortunately this doesn't work for my use-case. I get the following error:
`Error in DescribeBigMatrix(x) :
  you can't describe a non-shared big.matrix.`

[2019-11-06 17:06] privefl commented on #97
Yes, if using `shared = FALSE`, then you can't use parallelism in {biglasso}.

An alternative would be to try to specify a backingfile.

[2019-11-07 16:17] GabeAl commented on #97
Hm, interesting idea. Could you elaborate a bit on this? I see documentation about loading data from a file (where that file would naturally become the backing file), but could I specify a backing file of arbitrary size (like 0 bytes) for an in-ram matrix, which would make bigmemory fall back on a shared memory representation?

[2019-12-16 22:42] dipterix opened #98 "Flush in Rcpp"
Hi, I'm experimenting to extend `bigmemory` package for my own research project. Right now I'm implementing in Rcpp using `BigMatrix` headers and file back end to manage the data. Just wonderinh what's the recommended way to flush only partial of the data into disk in Rcpp code given data address?

Thanks.

[2019-12-17 17:22] kaneplusplus commented on #98
Hello. I don't think it's currently supported. A flush ensures that what is on disk is the same as what is in memory. However, processing attaching to an unflushed shared memory resource will all have access to the same data. Are you sure you need a partial flush?

[2019-12-18 21:40] dipterix commented on #98
Thanks. I was just wondering if I want to write 1TB data into hard disk, then what's the best way to do it. (suppose 1TB data are generated in C++ code in a stream way, and I have figured it out how to user big matrix accessors, only 16GB free RAM allowed)

[2020-03-28 09:33] hyacz opened #99 "Installation fails on R-devel 4.0 for macOS"
Hi,

I failed to install `bigmemory` in macOS R 4.0. Can anyone help to find out why?

**Version**：
bigmemory_4.5.36
R-devel 4.0.0 Under development (unstable) (2020/03/25, r78063)
macOS 10.15.3 (MacOSX10.15.sdk)

**installation logs**：
[code]

When I point Current to 3.6, it's perfectly normal.

**installation logs**：
[code]

[2020-04-02 02:37] kaneplusplus commented on #99
Hmm. I haven't seen this. I'll try to get to it this weekend.

[2020-04-06 15:47] #98 closed

[2020-04-06 15:48] #97 closed

[2020-04-06 15:49] #80 closed

[2020-04-06 15:56] kaneplusplus commented on #99
I'm not sure and I'm not running 4.0. The error indicates that the code `uuid_t` is an unknown type but `uid_t` isn't. I would suggest redefining `uid_t` as `uuid_t` and then test to see if it works.

[2020-04-08 09:06] hyacz commented on #99
I found the reason https://github.com/RcppCore/Rcpp/issues/1046 ,  It is fixed in the devel version of Rcpp.

[2020-04-08 09:06] #99 closed

[2020-04-09 15:55] kaneplusplus commented on #99
Excellent! Thanks very much for following up.

[2020-08-15 15:27] HenrikBengtsson opened #100 "Core dumping R if using a serialized big.memory object"
Hi, I discovered that *8bigmemory** core dumps (=crashes/terminates) parallel workers if attempting to use 'big.memory' objects.  This appears to be because there is an assumption that the object is always used in the same R process that it was created in, which does not work because of the external pointer.  Here is a minimal reproducible example:

In one R session, do:
[code]

In _another_ R ses

[2020-08-15 17:42] privefl commented on #100
I think this behaviour is fairly known, and this is why descriptor are used instead in parallel settings.

A cleaner way would be to use active bindings of reference classes as proposed in https://github.com/phaverty/bigmemoryExtras by @phaverty, which I borrowed in bigstatsr.

[2020-08-15 18:15] HenrikBengtsson commented on #100
I realized my request for a bug fix was not clear.  I'm not asking to make it possible to export **bigmemory** objects.  The ask is to detect the problem and give an informative error message rather than core dumping.  I've updated my top comment accordingly.

[2020-08-15 21:13] privefl commented on #100
Apparently, {magick} has a way to prevent from this:
[code]

But I'm not sure how they manage to do this.

[2020-08-15 21:14] privefl commented on #100
Maybe @jeroen can give a clue.

[2020-08-15 22:13] jeroen commented on #100
You just need to check that your externalptr is not NULL

[2020-08-16 05:21] privefl commented on #100
Yes, but how do you do it?
Do you check it in all of your functions?
Or do you have a class wrapping the external pointer that makes sure it is valid when you try to access it?

[2020-08-16 06:59] privefl commented on #100
I've just tried checking for `bigMatAddr == NULL`, but it does not seem to do anything?

[2020-08-16 08:44] jeroen commented on #100
That gives you the address of the SEXP object itself. To get the externalpointer, I think you need `pMat.get()` or just `*pMat` may work as well.

You can also use `BigMatrix* mat = pMat.checked_get()` which is designed exactly for this cause: it will raise an error if the pointer is NULL.

[2020-08-16 09:31] privefl commented on #100
That is very useful information, thanks!

[2020-08-16 11:04] privefl commented on #100
I've tried using `BigMatrix * pMat = (as< XPtr<BigMatrix> >(bigMatAddr)).checked_get();` instead of `Rcpp::XPtr<BigMatrix> pMat(bigMatAddr);`.
It does not seem to prevent the crash.

From what I see from {magick}, you do `assert_image()` in R, not C++.
I still believe that the active binding is the way to go to solve this problem, as it prevents from having to check every single R function.

As {b

[2020-08-16 11:17] jeroen commented on #100
All that the [assert_image](https://github.com/ropensci/magick/blob/f280d53671bfbdd91918381b54fb207d3db62cde/R/utils.R#L73-L78) function in magick does is call [magick_image_dead](https://github.com/ropensci/magick/blob/f280d53671bfbdd91918381b54fb207d3db62cde/src/base.cpp#L34-L37) which checks if the pointer is NULL.

[2020-09-17 07:51] nperezzanon opened #101 "description(): user-defined file name"
Hi,

I would like to specify the file name for the shared object, and I have tried the following lines:

[code]

Although I can see that the attribute has correctly changed, the file has the original name. I guess that the file is already created by `describe()`, so, when I change the name is too late.

Do you know if there is a way to change this name?

Thanks in advance,

Núria

[2020-09-18 22:39] kaneplusplus commented on #101
Please see the `backingfile` and `descriptorfile` options to the `big.matrix()` function.

[2020-09-21 07:15] #101 closed

[2020-09-30 23:14] prateeksasan1 commented on #91
Hi,

I am facing the same problem. I am getting the following error.

Error in SetMatrixElements(x@address, as.double(j), as.double(i), as.double(value)) :
  long vectors not supported yet: ../../src/include/Rinlinedfuns.h:535

Is there a resolution to this?

Thanks
Prateek Sasan

[2020-10-01 02:00] kaneplusplus commented on #91
Can you tell us which version of R you are using?

[2020-10-01 03:27] prateeksasan1 commented on #91
R/4.0.2

Its on my universities' server

[2020-10-03 23:10] kaneplusplus commented on #91
Thanks for the extra information. Can you check the values your are sending to the assignment where this is happening? The error looks like it's coming from R, rather than bigmemory's C code. Can you call as.double on the values? My hunch is that an easy fix would be to break the assignment into a few smaller assignment but let's see if we can do a little better job tracking down the problem.

[2020-10-25 16:17] HenrikBengtsson commented on #37
You can use a "stealth" sample function that undoes changes to the `.GlobalEnv$.Random.seed` upon exit, e.g. from https://github.com/HenrikBengtsson/parallelly/blob/037d84d6b9a8f1695328198e32c8284d9362bd88/R/utils.R#L108-L119;

[code]

If you're willing to introduce a package dependency, there's also `withr::with_seed(sample(...))`.

[2020-10-28 17:51] privefl commented on #60
I've restarted my project of having an on-disk sparse matrix format, this has now become
https://cran.r-project.org/web/packages/bigsparser/index.html

This is still a very light implementation but there are already some useful features that I've started using in my work.

[2020-10-29 15:49] kaneplusplus commented on #37
Thanks Henrik! I'm not opposed to the extra dependence and will fold into the package.

[2020-11-09 19:23] RdeBiotec opened #102 "Windows - How to free memory used by big.matrix objects of crashed R sessions"
Hi!

So I was fortunate enough to have some RStudio crashes while testing bigmemory code in Windows.  I wasn't using filepaths in some cases, so I don't know where the temporary big.matrixes were stored.

In Linux it would be in /dev/shm, but... where should I search in Windows? Using the File Explorer to find these was not very helpful.

Hopefully someone can lend me a hand. Thanks!

[2020-11-11 19:40] kaneplusplus commented on #102
If you type:

[code]

It should give you the directory. Note that I think a new temp directory is defined per R session so you may need to look in the parent directory.

[2020-11-11 23:01] RdeBiotec commented on #102
Thanks a lot!!! Worked like a charm 🥇

[2020-11-11 23:01] #102 closed

[2020-12-01 10:43] snowpong commented on #15
Maybe this workaround can be provided somewhere in the documentation? Either as a note on file-backed big.matrix on Windows, or even in the error output currently implemented?

It took me quite a while to find this thread when I was truing to figure out why I couldn't delete my backingfile.

[2021-02-10 21:37] zhiiiyang commented on #81
@paulklemm, I encountered the same problem in a docker environment as well. But using `shared = FALSE` made the bug go away.

[2021-02-16 15:49] kaneplusplus commented on #81
This might indicate a memory mapping issue. Can you try creating a much smaller `big.matrix` object, like 10x10, and see if you get the same error?

[2021-03-06 10:04] MMriran opened #103 "Matrix multiplication in bigmemory matrix"
Hi, thank you for your great tool. It is very useful to handle the big matrix. But I found I can not use the bigmemory matrix to perform matrix multiplication （like, A%in%B, A and B are  bigmemory matrixs）. How  can I solve it？

[2021-03-06 12:07] privefl commented on #103
[code]

[2021-03-09 01:33] MMriran commented on #103
thank you for your reply！

[2021-06-04 02:47] dfleis commented on #37
In addition to original report, I'd like to add the fact that using ```bigmemory::as.big.matrix``` induces a similar (but not identical) issue. Running the following snippet four times shows that the output is periodic, repeating the first output on the fourth execution:

[code]
From a 'fresh' instance of R the output is always
[code]
However, if one opens up a second instance of R then the output

[2021-09-08 16:45] kaneplusplus opened #105 "Windows support"
The Windows build is having trouble linking to the uuid library. If anyone could fix this it would be appreciated.

[2021-09-21 10:06] Sciurus365 opened #106 "Fatal error when loading workspace image with objects containing a null external pointer and a prototype from class definition"
(This issue is forwarded from https://github.com/rstudio/rstudio/issues/8923)
### System details

    RStudio Edition : Desktop
    RStudio Version : 1.4.1103
    OS Version      : Win10
    R Version       :  4.0.3

### Steps to reproduce the problem
[code]

### Describe the problem in detail
If I run the codes above, save the workspace, restart RStudio again, it will throw a fatal error. This on

[2021-09-21 10:07] Sciurus365 commented on #106
I believe this is a bug that should be fixed in the `bigmemory` package. You can reproduce something similar in plain R, with:

[code]

The call to `str()` segfaults, because `bigmemory` fails to check for null external pointers. We could (and perhaps should) work around this by avoiding calls to `str()` on such objects. My suspicion is that this is happening here:

https://github.com/rstudio/rstu

[2021-09-21 10:35] privefl commented on #106
This is an old issue with external pointers, and is not specific to `str()` (you would get a crash if e.g. trying to get `t1[1]` as well).
The solution used in {bigmemory} is to work with descriptors.
A more elegant solution is to use a RC object with active bindings for the external pointer, e.g. as implemented in [package {bigmemoryExtras}](https://github.com/phaverty/bigmemoryExtras).

[2021-09-21 11:21] Sciurus365 commented on #106
Thank you @privefl ! I'll check that out.
By the way, I saw https://www.bioconductor.org/packages/release/bioc/html/bigmemoryExtras.html that the package `bigmemoryExtras` is deprecated. Is that the case? Do you know its current status or possible alternatives?

[2021-09-21 15:59] phaverty commented on #106
Hi Florian,

Thanks for your interest. bigmemoryExtras has recently fallen into
disrepair. It could probably be resurrected with some small updates.

On Tue, Sep 21, 2021 at 8:37 AM Florian Privé ***@***.***>
wrote:

[2021-09-22 09:11] Sciurus365 commented on #106
@privefl Thanks! I'll check it out.

[2021-10-06 21:20] patperry opened #107 "CRAN Removal?"
I just got a not from the CRAN maintainers saying that bigmemory and all of its direct dependencies will be removed on October 20, due to failing checks https://cran.r-project.org/web/checks/check_results_bigmemory.html

Are you aware of this? Any plans to fix the checks?

[2021-10-07 00:25] cdeterman commented on #107
Would getting a clean pass on that MacOS builder be sufficient for CRAN to overlook the failed tests?  I’m not familiar with this builder.

[2021-10-07 11:03] patperry commented on #107
Likely the UBSan issues are the culprit. There is some diagnostic information at <https://www.stats.ox.ac.uk/pub/bdr/memtests/clang-UBSAN/bigmemory/tests/testthat.Rout> and
<https://www.stats.ox.ac.uk/pub/bdr/memtests/clang-UBSAN/bigmemory/bigmemory-Ex.Rout>.

This section seems relevant:
[code]
It looks like the `to_int_checked` function in bigmemory.cpp is relying on undefined behavior.

[2021-10-07 17:44] patperry commented on #107
@gmweaver the behavior is also undefined if the magnitude of the value is too large. We also need to require the following:

[code]

(technically `nv[i] == INT_MIN` is defined behavior, but we'd want to exlucde it since `INT_MIN` is `NA_INTEGER`)

[2021-10-13 22:11] #107 closed

[2021-11-18 12:11] elenabernabeu commented on #91
Hi,

Continuing on from other people in this post, we are also having some issues with the long vector issue when using as.big.matrix directly on data. Specifically, getting the same error as @prateeksasan1:

Error in SetMatrixElements(x@address, as.double(j), as.double(i), as.double(value)) :
long vectors not supported yet: ../../src/include/Rinlinedfuns.h:535

Some background info:

- We are wor

[2021-11-26 08:24] matmu opened #109 "How to access matrix/keep in shared memory after script got executed"
I use the `bigmemory` package to put a very large matrix into shared memory (see script below, so it can be accessed in parallel by scripts in other R sessions.

I now want to execute the script in a non-interactive way. The problem is, that if I run it with `Rscript`, the matrix is removed from shared memory right after the `Rscript` process ended. I could add `Sys.sleep(99999)` to the end of the

[2021-11-28 02:19] #109 closed

[2022-01-12 17:58] asardaes commented on #107
May I ask what happened with the threat of archival? I don't see any new releases on CRAN, but the package remains.

[2022-01-13 18:51] kaneplusplus commented on #107
I'm not sure. I submitted the latest version at the beginning of December, there were 2 notes that I responded to via email, and I have not received a response or acknowledgement. I hope it is eventually accepted, however, in the short-term, I would recommend the github version.

[2022-01-18 10:08] bioinfonext opened #110 "reading large file using bigmemory"
Hi,

I am trying to read a large file using bigmemory and I am getting error as this file first two column are non- numeric, so I have deleted the second column but first column I want to make as row names.

Is there any option in bigmemory to make first column as row names and how I can avoid the below warning messege?

library("bigmemory")

Error in data.matrix - read.big.matrix("methylation.txt

[2022-01-18 10:17] privefl commented on #110
I don't think you can have rownames for a big.matrix.
You should probably just store these somewhere else.

[2022-01-18 10:25] bioinfonext commented on #110
Hi @privefl,

I need to correlate this matrix data with phenotypic data so that's why I want to make SampleID as row names. Can I assign rownames after reading this matrix using a separate list.

Someone suggested some solutions here but I am not sure what does it mean.

 https://stackoverflow.com/questions/12576735/bigmemory-and-rownames-dimnames-of-matrix

Many thanks

[2022-01-18 10:26] privefl commented on #110
Just use `match()` to get the row indices that corresponds to the external SampleID.

[2022-01-18 11:12] bioinfonext commented on #110
Hi,
Thanks @privefl

We just have 2000 rows so we need these for further analysis.
Many thanks,

[2022-01-18 12:24] privefl commented on #110
Would be a good idea to read only the first e.g. 5 rows with `data.table::fread()` to have an idea of the number and types of columns.

[2022-01-18 12:29] bioinfonext commented on #110
I have removed all non-numeric column and I can able to read 5 rows using fread, but bigmemory don't work here.

[code]

[2022-01-18 12:38] privefl commented on #110
`table(sapply(mydt10, typeof))`?

[2022-01-18 12:41] bioinfonext commented on #110
double
844488

[2022-01-18 12:45] privefl commented on #110
Hum..
Maybe worth trying `bigstatsr::big_read()` (https://privefl.github.io/bigstatsr/articles/read-FBM-from-file.html).

[2022-01-18 19:36] bioinfonext commented on #110
Is it possible to run a loop to read this file using fread in R?

Many thanks,

[2022-03-02 09:19] terjekv opened #111 "Duplicate semaphore filenames between users on same node on 4.5.36 (current release)."
Hi, and thank you for a vital piece of software for a lot of our users!

Our problem right now is that we are seeing consistent and duplicate semaphore names colliding between multiple users on the same node. This is resolved by installing the current master from GitHub, which uses the new (lib)UUID-based code.

Seeing as the current Description file shows the version as 4.5.42 and we find 4.5.36

[2022-04-06 16:11] kaneplusplus commented on #111
Thanks for the note. I've trying to get it on CRAN for the last few weeks. There is significant friction in this process because of reverse dependencies as well as how we are using the uuid package. I'm hoping it will go up in the next few weeks.

[2022-06-08 00:08] dajreiss opened #112 "big.matrix failes on M1pro Mac"
Trying to use `bigkmeans` on my M1pro Macbook Pro with 32GB of RAM on MacOS Monterey.

Calling `big.matrix(x)` for a matrix of any size does not return (freezes), unless I set `shared=FALSE`.

Pressing Ctrl-C aborts the call with the following error:
[code]

I can continue using `shared=FALSE` however operations such as `bigkmeans` contain many `big.matrix` calls with the default `shared=TRUE` and

[2022-09-19 14:08] Enchufa2 commented on #105
The Linux version fails too with the following message:

[code]

Please, correct me if I'm wrong, but you are relying on the R `uuid` package, and you call functions from there using `R_GetCCallable`, right? Because R packages cannot link to other R packages. So the `-luuid` should be dropped. The linker tries to find the system library, and fails if it's not present.

[2022-09-19 14:15] kaneplusplus commented on #105
Thanks for pointing this out.

The call `-luuid` has been dropped from configure and we are re-running tests. I'll check the results this afternoon.

[2022-09-19 14:18] Enchufa2 commented on #105
This is a build in Fedora 35, 36, 37 and rawhide without that flag: https://copr.fedorainfracloud.org/coprs/iucar/cran/build/4863403/. You can check the logs there if it's helpful.

[2022-10-31 00:22] glm729 opened #113 "Compilation failure in Alpine Linux container"
When attempting to install the package inside an Alpine Linux-based Apptainer image, featuring R and its dependencies, compilation of the package fails.  Below is the console output when running `install.packages`.

What are the dependencies for this package?  I may be missing a required dependency.

----

OS info:

[code]

R info:

[code]

----

<details>

<summary>Console output</summary>

[code

[2022-10-31 00:26] glm729 commented on #110
@bioinfonext:

[code]

Is this meant to be:

[code]

It looks like you had a typo, given your original error -- the assignment operator was missing the `<`.

[2022-10-31 07:31] privefl commented on #113
Main dependencies are Rcpp, BH, and uuid.

[2022-11-02 21:24] glm729 commented on #113
I'll give it a shot, I don't know why I was able to compile it before and now cannot do so.  The image in which it's being installed should be identical, but maybe I accidentally trimmed a dependency in there somewhere.

[2022-11-03 00:48] glm729 commented on #113
After a full rebuild, Rcpp, BH, and uuid all install without error, but bigmemory is still failing.  I am not sure what is causing the error!

[2022-11-03 06:56] privefl commented on #113
Another person report the first issue with the new version of BH (cf. https://lore.kernel.org/all/20211227112241.65b18a5d@windsurf/t/).
Maybe worth trying reinstalling a previous version of BH, e.g. `install.packages("https://cran.r-project.org/src/contrib/Archive/BH/BH_1.75.0-0.tar.gz", repos = NULL)`.

[2022-11-06 21:30] glm729 commented on #113
Thank you, I am testing this one now.  Might take a little while to build!  But I tested installing BH via the command you sent, and that appears to be working.  Now just to see if bigmemory will compile!

[2022-11-06 22:24] glm729 commented on #113
The installation is successful, thank you!  Installing version 1.75 of BH results in a successful installation of the latest bigmemory from CRAN.

[2022-11-07 07:13] privefl commented on #113
It might be worth opening an issue on the BH repo, so that they make sure it is fixed in the next CRAN update.

[2022-11-07 23:46] glm729 commented on #113
Done, I've opened a ticket in the BH repo.  I will close this ticket now, and thank you again!

[2022-11-07 23:46] #113 closed

[2022-11-08 13:38] eddelbuettel commented on #113
As best as I can tell this has nothing to do with BH as I explained over there.  I recommend opening this here.

[2022-11-13 22:35] glm729 commented on #113
@eddelbuettel I am not sure I entirely understand your comment.

Are you suggesting I re-open this ticket?  This is fixed for my purposes, but for others, downgrading from BH 1.78 to BH 1.75 may not be optimal.

Please see the original ticket description at the top of this page, in particular, the console output.  The console output in the description of https://github.com/eddelbuettel/bh/issues/8

[2022-11-13 22:57] eddelbuettel commented on #113
This is `bigmemory`.  It is the package you tried to install.  It set the compilation standard.  That was my point:  Boost and BH _may_ require C++14 in version 1.78 (this is just a guess).  You may have avoided that by staying with the older version _but all of us are none the wiser because we still do not know the root cause_.

And that is why I recommended to address that here.